Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @benesch, @mjibson, @MaterializeInc/qa, @MaterializeInc/docs, @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/devex, @MaterializeInc/surfaces, @umanwizard, @MaterializeInc/cloud, @MaterializeInc/persist, @aalexandrov

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @benesch
/.config                            @benesch
/.devcontainer                      @mjibson
/.github                            @benesch
/bin
/ci                                 @MaterializeInc/qa
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/compute
/doc/developer/reference/storage    @MaterializeInc/storage
/misc/dbt-materialize               @MaterializeInc/devex
/src/adapter                        @MaterializeInc/surfaces
/src/alloc                          @benesch
/src/audit-log                      @MaterializeInc/surfaces
/src/avro                           @umanwizard
/src/avro-derive                    @umanwizard
/src/build-id                       @umanwizard
/src/build-info                     @benesch
/src/ccsr                           @benesch
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/compute @MaterializeInc/storage
/src/cluster-client                 @MaterializeInc/compute @MaterializeInc/storage
/src/clusterd                       @MaterializeInc/compute @MaterializeInc/storage
/src/compute                        @MaterializeInc/compute
/src/compute-client                 @MaterializeInc/compute
/src/controller                     @MaterializeInc/compute @MaterializeInc/storage
/src/environmentd                   @MaterializeInc/surfaces
/src/expr                           @MaterializeInc/compute
/src/expr-test-util                 @MaterializeInc/compute
/src/frontegg-auth                  @MaterializeInc/surfaces
/src/http-util                      @MaterializeInc/surfaces
/src/interchange                    @MaterializeInc/storage
/src/kafka-util                     @MaterializeInc/storage
/src/kinesis-util                   @MaterializeInc/storage
/src/lowertest                      @MaterializeInc/compute
/src/lowertest-derive               @MaterializeInc/compute
/src/metabase                       @benesch
/src/mz                             @MaterializeInc/surfaces @MaterializeInc/devex
/src/npm                            @benesch
/src/orchestrator                   @benesch
/src/orchestrator-kubernetes        @benesch
/src/orchestrator-process           @benesch
/src/orchestrator-tracing           @benesch
/src/ore                            @benesch
/src/persist                        @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/surfaces
/src/pgrepr                         @MaterializeInc/surfaces
/src/pgtest                         @MaterializeInc/surfaces
/src/pgwire                         @MaterializeInc/surfaces
/src/pid-file                       @benesch
/src/postgres-util                  @MaterializeInc/storage
/src/prof                           @umanwizard
/src/proto                          @aalexandrov
/src/repr                           @MaterializeInc/storage @MaterializeInc/compute
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/compute
/src/rocksdb                        @MaterializeInc/storage
/src/s3-datagen                     @MaterializeInc/storage
/src/secrets                        @MaterializeInc/cloud
/src/segment                        @benesch
/src/service                        @MaterializeInc/storage @MaterializeInc/compute
/src/sql                            @MaterializeInc/surfaces
# HirRelationExpr is the boundary between the `sql` crate and the compute
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/expr.rs           @MaterializeInc/surfaces @MaterializeInc/compute
# The lowering of HirRelationExpr to MirRelationExpr is part of the compute
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering.rs       @MaterializeInc/compute
/src/sql-lexer                      @MaterializeInc/surfaces
/src/sql-parser                     @MaterializeInc/surfaces
/src/sqllogictest                   @MaterializeInc/surfaces
/src/ssh-util                       @MaterializeInc/storage
/src/stash                          @MaterializeInc/surfaces
/src/stash-debug                    @MaterializeInc/surfaces
/src/storage                        @MaterializeInc/storage
/src/storage-client                 @MaterializeInc/storage
/src/test-macro                     @MaterializeInc/qa
/src/testdrive                      @MaterializeInc/qa
/src/timely-util                    @MaterializeInc/compute
/src/transform                      @MaterializeInc/compute
/src/walkabout                      @benesch
/src/workspace-hack                 @benesch
/test

doc/user: fix a minor formatting issue in the `EXPLAIN` page
  doc/user/content/sql/explain.md
Owners: @MaterializeInc/docs

doc/user: add "Recursive CTEs" docs
  doc/user/content/sql/explain.md
  doc/user/content/sql/recursive-ctes.md
  doc/user/content/sql/select.md
  doc/user/layouts/partials/sql-grammar/cte-binding.svg
  doc/user/layouts/partials/sql-grammar/recursive-cte-binding.svg
  doc/user/layouts/partials/sql-grammar/select-stmt.svg
  doc/user/layouts/partials/sql-grammar/simple-select-stmt.svg
  doc/user/layouts/partials/sql-grammar/with-ctes.svg
  doc/user/layouts/partials/sql-grammar/with-recursive-ctes.svg
  doc/user/sql-grammar/sql-grammar.bnf
Owners: @MaterializeInc/docs

doc/user: allow `callout` shortcode without buttons
  doc/user/layouts/shortcodes/callout.html
Owners: @MaterializeInc/docs

???
  test/cloudtest/select
Owners: none

restore prior naming
  src/environmentd/tests/sql.rs
  src/environmentd/tests/util.rs
Owners: @MaterializeInc/surfaces

Initial design doc on delayed managed cluster operations
  doc/developer/design/20230707_delayed_operations.md
Owners: none

Improve invalid accumulation error in DistinctBy
  src/compute/src/render/reduce.rs
Owners: @MaterializeInc/compute

Fix error message in timezone.slt
  test/sqllogictest/timezone.slt
Owners: none

doc/user: add "Recursive CTEs" docs (v2)
  doc/user/content/sql/recursive-ctes.md
Owners: @MaterializeInc/docs

remove logging from clusterd by default in replica isolation
  test/replica-isolation/mzcompose.py
Owners: none

Use a slightly smaller version number as our big version number
  src/persist-client/src/cli/inspect.rs
Owners: @MaterializeInc/persist

Proptest to check that version order is compatible
  src/persist-client/src/internal/paths.rs
Owners: @MaterializeInc/persist

Fix up a misleading log line
  src/persist-client/src/internal/state_versions.rs
Owners: @MaterializeInc/persist

Configure the writer key for a batch in a single location
  src/persist-client/src/batch.rs
  src/persist-client/src/cli/admin.rs
  src/persist-client/src/internal/compact.rs
  src/persist-client/src/internal/machine.rs
  src/persist-client/src/internal/paths.rs
  src/persist-client/src/usage.rs
  src/persist-client/src/write.rs
Owners: @MaterializeInc/persist

Add a sorted-string variant to the the blob key
  src/persist-client/src/batch.rs
  src/persist-client/src/cli/inspect.rs
  src/persist-client/src/internal/paths.rs
  src/persist-client/src/usage.rs
Owners: @MaterializeInc/persist

Treat old versions as unreferenced
  src/persist-client/src/cli/inspect.rs
  src/persist-client/src/internal/state_versions.rs
  src/persist-client/src/usage.rs
Owners: @MaterializeInc/persist

Switch to the new-style version key for parts
  src/persist-client/src/batch.rs
Owners: @MaterializeInc/persist

expr: genericize min/max agg functions
  src/expr/src/relation/func.rs
  src/repr/src/scalar.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage

repr: mark TryFrom<Datum<'_>> as inline
  src/repr/src/adt/timestamp.rs
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

repr: mark From<T> for Datum<'a> as inline
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

repr: mark TryInto<Datum<'a>> as inline
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

persist: introduce an id for each SpineBatch as it walks through levels
  src/persist-client/src/cli/admin.rs
  src/persist-client/src/internal/encoding.rs
  src/persist-client/src/internal/machine.rs
  src/persist-client/src/internal/state_diff.rs
  src/persist-client/src/internal/trace.rs
  src/persist-client/tests/trace/compaction
  src/persist-client/tests/trace/compaction_apply_res
  src/persist-client/tests/trace/compaction_apply_res_since
  src/persist-client/tests/trace/compaction_regression_size_reduction
  src/persist-client/tests/trace/empty_batch_optimization
Owners: @MaterializeInc/persist

persist: replace HollowBatch Debug impl with a custom one
  src/persist-client/src/internal/state.rs
  src/persist-client/src/internal/state_diff.rs
  src/persist-client/src/internal/trace.rs
Owners: @MaterializeInc/persist

persist: add Trace::describe method for debugging
  src/persist-client/src/internal/trace.rs
Owners: @MaterializeInc/persist

doc/user: add "Recursive CTEs" docs
  doc/user/content/sql/explain.md
  doc/user/content/sql/recursive-ctes.md
  doc/user/content/sql/select.md
  doc/user/layouts/partials/sql-grammar/cte-binding.svg
  doc/user/layouts/partials/sql-grammar/recursive-cte-binding.svg
  doc/user/layouts/partials/sql-grammar/select-stmt.svg
  doc/user/layouts/partials/sql-grammar/simple-select-stmt.svg
  doc/user/layouts/partials/sql-grammar/with-ctes.svg
  doc/user/layouts/partials/sql-grammar/with-recursive-ctes.svg
  doc/user/sql-grammar/sql-grammar.bnf
Owners: @MaterializeInc/docs

doc/user: allow `callout` shortcode without buttons
  doc/user/layouts/shortcodes/callout.html
Owners: @MaterializeInc/docs

doc/user: add "Recursive CTEs" docs (v2)
  doc/user/content/sql/recursive-ctes.md
Owners: @MaterializeInc/docs

doc/user: fix a minor formatting issue in the `EXPLAIN` page
  doc/user/content/sql/explain.md
Owners: @MaterializeInc/docs

repr: mark From<T> for Datum<'a> as inline
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

repr: mark TryFrom<Datum<'_>> as inline
  src/repr/src/adt/timestamp.rs
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

repr: mark TryInto<Datum<'a>> as inline
  src/repr/src/scalar.rs
Owners: @MaterializeInc/storage, @MaterializeInc/compute

Use peek validity
  src/adapter/src/coord.rs
  src/adapter/src/coord/appends.rs
  src/adapter/src/coord/message_handler.rs
  src/adapter/src/coord/sequencer/inner.rs
Owners: @MaterializeInc/surfaces

Start, add monotonic_appender API
  Cargo.lock
  src/adapter/src/util.rs
  src/storage-client/Cargo.toml
  src/storage-client/src/controller.rs
  src/storage-client/src/controller/collection_mgmt.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage

start, update SQL parser to support CREATE SOURCE ... FROM WEBHOOK
  src/sql-lexer/src/keywords.txt
  src/sql-parser/src/ast/defs/statement.rs
  src/sql-parser/src/parser.rs
  src/storage-client/src/controller.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage

start, wire up planning and sequencing to create a webhook source
  Cargo.lock
  src/adapter/src/catalog.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/dataflows.rs
  src/adapter/src/coord/introspection.rs
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/coord/sequencer/inner.rs
  src/adapter/src/metrics.rs
  src/adapter/src/rbac.rs
  src/pgwire/src/protocol.rs
  src/sql-parser/src/parser.rs
  src/sql/src/normalize.rs
  src/sql/src/plan.rs
  src/sql/src/plan/statement.rs
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/session/vars.rs
Owners: @MaterializeInc/surfaces

Joe's comments
  doc/developer/reference/adapter/coord_interface.md
Owners: none

feature-benchmark: Do not populate the entire table 'ten' at single timestamp
  misc/python/materialize/feature_benchmark/scenario.py
Owners: none

ci: Run minio with no redundancy
  misc/python/materialize/mzcompose/services.py
Owners: none

Document coordinator interface. (#20413)
  doc/developer/reference/adapter/coord_interface.md
Owners: none

zhuzh up into and minor updates
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs
