Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @benesch, @mjibson, @MaterializeInc/qa, @MaterializeInc/docs, @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/devex, @MaterializeInc/surfaces, @umanwizard, @MaterializeInc/cloud, @MaterializeInc/persist, @aalexandrov

docs/user: slight update to rules execution pattern (#20446)
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

move func
  src/adapter/src/coord/introspection.rs
  src/environmentd/tests/testdata/http/ws
  src/expr/src/relation/mod.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute

can_run_expensive_function -> could_run_expensive_function
  src/adapter/src/coord/introspection.rs
  src/expr/src/relation/mod.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute

start, add new http endpoint for webhooks, add Coordinator command to handle appending
  src/adapter/src/client.rs
  src/adapter/src/command.rs
  src/adapter/src/coord/command_handler.rs
  src/adapter/src/lib.rs
  src/environmentd/src/http.rs
  src/environmentd/src/http/sql.rs
  src/environmentd/src/http/webhook.rs
Owners: @MaterializeInc/surfaces

start, tests for webhooks
  Cargo.lock
  doc/developer/testdrive.md
  src/environmentd/Cargo.toml
  src/environmentd/src/http/webhook.rs
  src/environmentd/tests/server.rs
  src/sql-parser/tests/testdata/create
  src/testdrive/src/action.rs
  src/testdrive/src/action/webhook.rs
  test/sqllogictest/webhook.slt
  test/testdrive/webhook.td
Owners: @MaterializeInc/surfaces, @MaterializeInc/qa

adapter: Validate deferred plan before sequencing (#20420)
  src/adapter/src/coord.rs
  src/adapter/src/coord/appends.rs
  src/adapter/src/coord/message_handler.rs
  src/adapter/src/coord/sequencer/inner.rs
Owners: @MaterializeInc/surfaces

[kafka] use connect with confluent client id when connecting to confluent cloud
  src/kafka-util/src/lib.rs
  src/storage-client/src/types/connections.rs
  src/storage-client/src/types/sources.rs
  src/storage/src/sink/kafka.rs
  src/storage/src/source/kafka.rs
Owners: @MaterializeInc/storage

catalog: Emit audit log events for RBAC (#20385)
  src/adapter/src/catalog.rs
  src/adapter/src/catalog/storage/stash.rs
  src/audit-log/src/lib.rs
  src/sql/src/names.rs
  src/stash/protos/hashes.json
  src/stash/protos/objects_v27.proto
  src/stash/src/lib.rs
  src/stash/src/postgres.rs
  src/stash/src/upgrade.rs
  src/stash/src/upgrade/v26_to_v27.rs
  test/sqllogictest/audit_log.slt
Owners: @MaterializeInc/surfaces

tests: Extend webhook.td and introduce platform-check
  doc/developer/testdrive.md
  misc/python/materialize/checks/all_checks.py
  misc/python/materialize/checks/webhook.py
  src/environmentd/src/http/webhook.rs
  src/environmentd/tests/server.rs
  src/sql-parser/tests/testdata/create
  src/testdrive/src/action/webhook.rs
  test/sqllogictest/privilege_checks.slt
  test/sqllogictest/webhook.slt
  test/testdrive/webhook.td
Owners: @MaterializeInc/surfaces, @MaterializeInc/qa

webhooks: Initial impl (#20171)
  Cargo.lock
  doc/developer/testdrive.md
  misc/python/materialize/checks/all_checks.py
  misc/python/materialize/checks/webhook.py
  src/adapter/src/catalog.rs
  src/adapter/src/client.rs
  src/adapter/src/command.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/command_handler.rs
  src/adapter/src/coord/dataflows.rs
  src/adapter/src/coord/introspection.rs
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/coord/sequencer/inner.rs
  src/adapter/src/lib.rs
  src/adapter/src/metrics.rs
  src/adapter/src/rbac.rs
  src/adapter/src/util.rs
  src/environmentd/Cargo.toml
  src/environmentd/src/http.rs
  src/environmentd/src/http/sql.rs
  src/environmentd/src/http/webhook.rs
  src/environmentd/tests/server.rs
  src/pgwire/src/protocol.rs
  src/sql-lexer/src/keywords.txt
  src/sql-parser/src/ast/defs/statement.rs
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/create
  src/sql/src/normalize.rs
  src/sql/src/plan.rs
  src/sql/src/plan/statement.rs
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/session/vars.rs
  src/storage-client/Cargo.toml
  src/storage-client/src/controller.rs
  src/storage-client/src/controller/collection_mgmt.rs
  src/testdrive/src/action.rs
  src/testdrive/src/action/webhook.rs
  test/sqllogictest/privilege_checks.slt
  test/sqllogictest/webhook.slt
  test/testdrive/webhook.td
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage, @MaterializeInc/qa

adapter: Route simple queries to mz_introspection (#20372)
  src/adapter/src/coord/introspection.rs
  src/environmentd/tests/sql.rs
  src/environmentd/tests/testdata/http/post
  src/environmentd/tests/testdata/http/ws
  src/expr/src/relation/mod.rs
  test/cluster/mzcompose.py
  test/cluster/query-without-default-cluster/query-without-default-cluster.td
  test/sqllogictest/cluster.slt
  test/testdrive/linked-clusters.td
  test/testdrive/storage-clusters.td
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute

Add indexed view scenarios to feature benchmark
  test/feature-benchmark/scenarios.py
Owners: none

Update monotonic one-shot SELECT design doc
  doc/developer/design/20230421_stabilize_monotonic_select.md
Owners: none

LICENSE: update change date
  LICENSE
Owners: none

mzcompose: Upgrade minio to RELEASE.2023-07-07T07-13-57Z
  misc/python/materialize/mzcompose/services.py
Owners: none

canary environment: Simple integration between dbt and mzcompose
  misc/dbt-materialize/mzcompose.py
  misc/python/materialize/mzcompose/__init__.py
  misc/python/materialize/mzcompose/services.py
  test/canary-environment/.gitignore
  test/canary-environment/dbt_project.yml
  test/canary-environment/models/schema.yml
  test/canary-environment/models/tpch.sql
  test/canary-environment/models/tpch_q01.sql
  test/canary-environment/models/tpch_q18.sql
  test/canary-environment/mzcompose
  test/canary-environment/mzcompose.py
  test/canary-environment/profiles.yml
  test/canary-environment/tests/all_replicas_ready.sql
  test/canary-environment/tests/all_sources_running.sql
  test/canary-environment/tests/generic/makes_progress.sql
Owners: @MaterializeInc/devex

SLT: Set MZ_SYSTEM_PARAMETER_DEFAULT
  misc/python/materialize/mzcompose/services.py
  src/sqllogictest/src/bin/sqllogictest.rs
  src/sqllogictest/src/runner.rs
  test/sqllogictest/alter.slt
  test/sqllogictest/cluster.slt
  test/sqllogictest/explain/optimized_plan_as_text.slt
  test/sqllogictest/github-13857.slt
  test/sqllogictest/introspection/unstable.slt
  test/sqllogictest/system-cluster.slt
  test/sqllogictest/transform/predicate_pushdown.slt
  test/sqllogictest/unstable.slt
Owners: @MaterializeInc/surfaces

ci: Run Fast SLT in parallel
  ci/test/pipeline.template.yml
  src/sqllogictest/src/bin/sqllogictest.rs
  test/sqllogictest/mzcompose.py
Owners: @MaterializeInc/qa, @MaterializeInc/surfaces

Change log filter
  test/launchdarkly/mzcompose.py
Owners: none

ci: add logged error "unrecognized configuration parameter"
  misc/python/materialize/cli/ci_logged_errors_detect.py
Owners: none

tests: LaunchDarkly: adapt log filter definition
  test/launchdarkly/mzcompose.py
Owners: none

ci: add logged error "unrecognized configuration parameter"
  misc/python/materialize/cli/ci_logged_errors_detect.py
Owners: none

start, bump version to v0.61
  misc/python/materialize/checks/webhook.py
Owners: none

Output consistency tests: extend ignore
  misc/python/materialize/output_consistency/ignore_filter/inconsistency_ignore_filter.py
Owners: none

parser: Improve error for cursor with hold
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/cursor
Owners: @MaterializeInc/surfaces

Output consistency tests: extend ignore
  misc/python/materialize/output_consistency/ignore_filter/inconsistency_ignore_filter.py
Owners: none

Update src/sql-parser/src/parser.rs
  src/sql-parser/src/parser.rs
Owners: @MaterializeInc/surfaces

Fix error
  src/sql-parser/src/parser.rs
Owners: @MaterializeInc/surfaces

parser: Improve error for cursor with hold (#20462)
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/cursor
Owners: @MaterializeInc/surfaces

wip temporal filters
  doc/user/content/sql/functions/now_and_mz_now.md
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

move ttl to temporal filter
  doc/user/content/sql/functions/now_and_mz_now.md
  doc/user/content/transform-data/patterns/temporal-filters.md
  doc/user/content/transform-data/patterns/ttl.md
Owners: @MaterializeInc/docs

complete first draft
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

phrasing and formatting
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

attempt to pass linter
  doc/user/content/sql/functions/now_and_mz_now.md
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

minor wiggling
  doc/user/content/transform-data/patterns/temporal-filters.md
  doc/user/static/images/temporal-filter.svg
Owners: @MaterializeInc/docs

add newline to svg for linting
  doc/user/static/images/temporal-filter.svg
Owners: @MaterializeInc/docs

update image
  doc/user/content/transform-data/patterns/temporal-filters.md
  doc/user/static/images/temporal-filter.svg
Owners: @MaterializeInc/docs

update placeholder image
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

light revisions and reordering
  doc/user/content/sql/functions/now_and_mz_now.md
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

minor phrasing adjustments
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @benesch
/.config                            @benesch
/.devcontainer                      @mjibson
/.github                            @benesch
/bin
/ci                                 @MaterializeInc/qa
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/compute
/doc/developer/reference/storage    @MaterializeInc/storage
/misc/dbt-materialize               @MaterializeInc/devex
/src/adapter                        @MaterializeInc/surfaces
/src/alloc                          @benesch
/src/audit-log                      @MaterializeInc/surfaces
/src/avro                           @umanwizard
/src/avro-derive                    @umanwizard
/src/build-id                       @umanwizard
/src/build-info                     @benesch
/src/ccsr                           @benesch
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/compute @MaterializeInc/storage
/src/cluster-client                 @MaterializeInc/compute @MaterializeInc/storage
/src/clusterd                       @MaterializeInc/compute @MaterializeInc/storage
/src/compute                        @MaterializeInc/compute
/src/compute-client                 @MaterializeInc/compute
/src/controller                     @MaterializeInc/compute @MaterializeInc/storage
/src/environmentd                   @MaterializeInc/surfaces
/src/expr                           @MaterializeInc/compute
/src/expr-test-util                 @MaterializeInc/compute
/src/frontegg-auth                  @MaterializeInc/surfaces
/src/http-util                      @MaterializeInc/surfaces
/src/interchange                    @MaterializeInc/storage
/src/kafka-util                     @MaterializeInc/storage
/src/kinesis-util                   @MaterializeInc/storage
/src/lowertest                      @MaterializeInc/compute
/src/lowertest-derive               @MaterializeInc/compute
/src/metabase                       @benesch
/src/mz                             @MaterializeInc/surfaces @MaterializeInc/devex
/src/npm                            @benesch
/src/orchestrator                   @benesch
/src/orchestrator-kubernetes        @benesch
/src/orchestrator-process           @benesch
/src/orchestrator-tracing           @benesch
/src/ore                            @benesch
/src/persist                        @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/surfaces
/src/pgrepr                         @MaterializeInc/surfaces
/src/pgtest                         @MaterializeInc/surfaces
/src/pgwire                         @MaterializeInc/surfaces
/src/pid-file                       @benesch
/src/postgres-util                  @MaterializeInc/storage
/src/prof                           @umanwizard
/src/proto                          @aalexandrov
/src/repr                           @MaterializeInc/storage @MaterializeInc/compute
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/compute
/src/rocksdb                        @MaterializeInc/storage
/src/s3-datagen                     @MaterializeInc/storage
/src/secrets                        @MaterializeInc/cloud
/src/segment                        @benesch
/src/service                        @MaterializeInc/storage @MaterializeInc/compute
/src/sql                            @MaterializeInc/surfaces
# HirRelationExpr is the boundary between the `sql` crate and the compute
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/expr.rs           @MaterializeInc/surfaces @MaterializeInc/compute
# The lowering of HirRelationExpr to MirRelationExpr is part of the compute
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering.rs       @MaterializeInc/compute
/src/sql-lexer                      @MaterializeInc/surfaces
/src/sql-parser                     @MaterializeInc/surfaces
/src/sqllogictest                   @MaterializeInc/surfaces
/src/ssh-util                       @MaterializeInc/storage
/src/stash                          @MaterializeInc/surfaces
/src/stash-debug                    @MaterializeInc/surfaces
/src/storage                        @MaterializeInc/storage
/src/storage-client                 @MaterializeInc/storage
/src/test-macro                     @MaterializeInc/qa
/src/testdrive                      @MaterializeInc/qa
/src/timely-util                    @MaterializeInc/compute
/src/transform                      @MaterializeInc/compute
/src/walkabout                      @benesch
/src/workspace-hack                 @benesch
/test
