Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaterializeInc/testing, @parkmycar, @MaterializeInc/docs, @MaterializeInc/cluster, @morsapaes, @MaterializeInc/integrations, @MaterializeInc/cloud, @MaterializeInc/adapter, @teskje, @MaterializeInc/persist, @aljoscha

ore/netio: add support for turmoil wrapper types
  Cargo.lock
  src/ore/Cargo.toml
  src/ore/src/netio/socket.rs
  src/ore/src/tracing.rs
  src/service/src/grpc.rs
Owners: @MaterializeInc/cluster

cluster: add a turmoil test for `create_sockets`
  Cargo.lock
  src/cluster/Cargo.toml
  src/cluster/src/communication.rs
Owners: @MaterializeInc/cluster

[persist] Shift all pubsub configs over to dyncfg (#31974)
  src/persist-client/src/cfg.rs
  src/persist-client/src/rpc.rs
Owners: @MaterializeInc/persist

catalog-debug: add debug line to print Persist schemas (#31981)
  src/catalog-debug/src/main.rs
Owners: @MaterializeInc/adapter

catalog-debug: add debug line to print Persist schemas (#31981)
  src/catalog-debug/src/main.rs
Owners: @MaterializeInc/adapter

Does this work?
  Cargo.toml
  WORKSPACE
Owners: @parkmycar

LICENSE: update change date
  LICENSE
Owners: none

LICENSE: update change date
  LICENSE
Owners: none

LICENSE: update change date
  LICENSE
Owners: none

build(deps): Downgrade chrono, fix adler2 & liblzma-sys references
  Cargo.lock
  Cargo.toml
  WORKSPACE
  deny.toml
  misc/bazel/c_deps/rust-sys/BUILD.liblzma-sys.bazel
  src/adapter/Cargo.toml
  src/arrow-util/Cargo.toml
  src/avro/Cargo.toml
  src/balancerd/Cargo.toml
  src/catalog/Cargo.toml
  src/cloud-api/Cargo.toml
  src/cloud-resources/Cargo.toml
  src/controller/Cargo.toml
  src/environmentd/Cargo.toml
  src/expr/Cargo.toml
  src/frontegg-mock/Cargo.toml
  src/interchange/Cargo.toml
  src/kafka-util/Cargo.toml
  src/mysql-util/Cargo.toml
  src/orchestrator-kubernetes/Cargo.toml
  src/orchestrator-process/Cargo.toml
  src/orchestrator/Cargo.toml
  src/orchestratord/Cargo.toml
  src/ore/Cargo.toml
  src/persist-types/Cargo.toml
  src/pgrepr/Cargo.toml
  src/pgtz/Cargo.toml
  src/proto/Cargo.toml
  src/repr-test-util/Cargo.toml
  src/repr/Cargo.toml
  src/segment/Cargo.toml
  src/self-managed-debug/Cargo.toml
  src/sql/Cargo.toml
  src/sqllogictest/Cargo.toml
  src/storage-client/Cargo.toml
  src/storage-controller/Cargo.toml
  src/storage/Cargo.toml
  src/testdrive/Cargo.toml
  src/workspace-hack/Cargo.toml
  test/test-util/Cargo.toml
Owners: @parkmycar, @MaterializeInc/adapter, @MaterializeInc/cluster, @MaterializeInc/cloud, @MaterializeInc/persist, @MaterializeInc/testing

Revert "build(deps): bump crossbeam-channel from 0.5.8 to 0.5.14" (#31939)
  Cargo.lock
  src/cluster/Cargo.toml
  src/compute-client/Cargo.toml
  src/compute/Cargo.toml
  src/kafka-util/Cargo.toml
  src/service/Cargo.toml
  src/storage/Cargo.toml
  src/txn-wal/Cargo.toml
Owners: @MaterializeInc/cluster, @aljoscha

start, return an AdapterError::Internal instead of panicking
  src/adapter/src/coord/sequencer/inner/create_materialized_view.rs
Owners: @MaterializeInc/adapter

[parser] Wrap subscripted expression in parens when it ends with a type name
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/select
  test/sqllogictest/arrays.slt
  test/sqllogictest/list.slt
Owners: @MaterializeInc/adapter

[parser tests] Refactor redacted reparse check
  src/sql-parser/src/lib.rs
  src/sql-parser/tests/sqlparser_common.rs
Owners: @MaterializeInc/adapter

[parser] Refactor the handling of complex expressions in casts
  src/environmentd/tests/testdata/http/post
  src/environmentd/tests/testdata/http/ws
  src/sql-parser/src/ast/defs/expr.rs
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/select
  src/sql-pretty/src/doc.rs
  test/sqllogictest/cast.slt
Owners: @MaterializeInc/adapter

[parser] No need to insert extra parens when there is a scalar subquery in a cast
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/select
Owners: @MaterializeInc/adapter

[parser] No need to insert extra parens when there is a parameter in a CAST
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/select
Owners: @MaterializeInc/adapter

start, add a few more Consensus configs to dyncfg
  Cargo.lock
  src/environmentd/BUILD.bazel
  src/environmentd/Cargo.toml
  src/environmentd/src/test_util.rs
  src/persist-client/src/cfg.rs
Owners: @MaterializeInc/adapter, @MaterializeInc/persist

bin/fmt
  src/environmentd/src/test_util.rs
Owners: @MaterializeInc/adapter

optimizer: Canonicalize equivalences in `ReductionPushdown`
  src/transform/src/reduction_pushdown.rs
  src/transform/tests/test_transforms/reduction_pushdown.spec
  src/transform/tests/testdata/partial-reduction-pushdown
  src/transform/tests/testdata/reduction-pushdown
  test/sqllogictest/transform/reduction_pushdown.slt
Owners: @MaterializeInc/cluster

parser: Comment tweaks in FormatMode and other places
  src/sql-parser/src/ast/display.rs
  src/sql/src/plan/statement/show.rs
Owners: @MaterializeInc/adapter

Add `SHOW REDACTED CREATE ...`
  doc/user/content/sql/show-create-connection.md
  doc/user/content/sql/show-create-index.md
  doc/user/content/sql/show-create-materialized-view.md
  doc/user/content/sql/show-create-sink.md
  doc/user/content/sql/show-create-source.md
  doc/user/content/sql/show-create-table.md
  doc/user/content/sql/show-create-view.md
  src/sql-parser/src/ast/defs/statement.rs
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/show
  src/sql/src/plan/statement/show.rs
  test/sqllogictest/redacted.slt
Owners: @MaterializeInc/docs, @MaterializeInc/adapter

docs: add redacted description
  doc/user/content/sql/show-create-connection.md
  doc/user/content/sql/show-create-index.md
  doc/user/content/sql/show-create-materialized-view.md
  doc/user/content/sql/show-create-sink.md
  doc/user/content/sql/show-create-source.md
  doc/user/content/sql/show-create-table.md
  doc/user/content/sql/show-create-view.md
  doc/user/data/show_create_redacted_option.yml
Owners: @MaterializeInc/docs

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @MaterializeInc/testing @parkmycar
/.config                            @MaterializeInc/testing
/.github                            @MaterializeInc/testing
/bin
/bin/lint-versions                  @MaterializeInc/testing
/ci                                 @MaterializeInc/testing
/ci/test/lint-deps.toml
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/cluster
/doc/developer/reference/storage    @MaterializeInc/cluster
/misc/bazel                         @parkmycar
/misc/dbt-materialize               @morsapaes @MaterializeInc/integrations
/misc/python/materialize/benches    @MaterializeInc/testing
/misc/python/materialize/buildkite_insights @MaterializeInc/testing
/misc/python/materialize/checks     @MaterializeInc/testing
/misc/python/materialize/ci_util    @MaterializeInc/testing
/misc/python/materialize/cli/ci_annotate_errors.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_closed_issues_detect.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_coverage_pr_report.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_upload_heap_profiles.py @MaterializeInc/testing
/misc/python/materialize/cloudtest  @MaterializeInc/cloud @MaterializeInc/testing
/misc/python/materialize/data_ingest @MaterializeInc/testing
/misc/python/materialize/parallel_workload @MaterializeInc/testing
/misc/python/materialize/postgres_consistency @MaterializeInc/testing
/misc/python/materialize/scalability @MaterializeInc/testing
/misc/python/materialize/sqlsmith.py @MaterializeInc/testing
/misc/python/materialize/version_consistency @MaterializeInc/testing
/misc/python/materialize/zippy      @MaterializeInc/testing
/src/adapter                        @MaterializeInc/adapter
/src/adapter-types                  @MaterializeInc/adapter
/src/adapter/src/explain            @MaterializeInc/cluster
/src/adapter/src/optimize           @MaterializeInc/cluster
# to track changes to feature flags
/src/adapter/src/coord/ddl.rs       @MaterializeInc/testing
# to track changes to introspection subscribes
/src/adapter/src/coord/introspection.rs @MaterializeInc/cluster
# to track changes to feature flags
/src/adapter/src/flags.rs           @MaterializeInc/testing
/src/alloc
/src/audit-log                      @MaterializeInc/adapter
/src/avro                           @MaterializeInc/cluster
/src/avro-derive                    @MaterializeInc/cluster
/src/build-id                       @teskje
/src/build-info                     @MaterializeInc/testing @parkmycar
/src/catalog                        @MaterializeInc/adapter
/src/catalog-debug                  @MaterializeInc/adapter
/src/ccsr                           @MaterializeInc/adapter @MaterializeInc/cluster
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/cluster
/src/cluster-client                 @MaterializeInc/cluster
/src/clusterd                       @MaterializeInc/cluster
/src/compute                        @MaterializeInc/cluster
/src/compute-client                 @MaterializeInc/cluster
/src/compute-types                  @MaterializeInc/cluster
/src/controller                     @MaterializeInc/cluster
/src/controller-types               @MaterializeInc/cluster
/src/durable-cache                  @MaterializeInc/adapter
/src/dyncfg
/src/dyncfgs
/src/environmentd                   @MaterializeInc/adapter
/src/expr                           @MaterializeInc/cluster
/src/expr-parser                    @MaterializeInc/cluster
/src/expr-test-util                 @MaterializeInc/cluster
/src/fivetran-destination           @MaterializeInc/adapter
/src/frontegg-auth                  @MaterializeInc/adapter
/src/http-util                      @MaterializeInc/adapter
/src/interchange                    @MaterializeInc/cluster
/src/kafka-util                     @MaterializeInc/cluster
/src/lowertest                      @MaterializeInc/cluster
/src/lowertest-derive               @MaterializeInc/cluster
/src/metabase
/src/mysql-util                     @MaterializeInc/cluster
/src/mz                             @MaterializeInc/integrations
/src/npm
/src/orchestrator                   @MaterializeInc/cloud
/src/orchestrator-kubernetes        @MaterializeInc/cloud
/src/orchestrator-process           @MaterializeInc/cloud
/src/orchestrator-tracing           @MaterializeInc/cloud
/src/ore
/src/persist                        @MaterializeInc/persist
/src/persist-cli                    @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/adapter
/src/pgrepr                         @MaterializeInc/adapter
/src/pgtest                         @MaterializeInc/adapter
/src/pgwire                         @MaterializeInc/adapter
/src/postgres-util                  @MaterializeInc/cluster
/src/prof                           @teskje
/src/repr                           @MaterializeInc/cluster
# The `explain` and `optimize` modules are owned solely by the cluster team.
/src/repr/src/explain               @MaterializeInc/cluster
/src/repr/src/optimize              @MaterializeInc/cluster
# The row representation is owned by the persist team.
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/cluster
/src/rocksdb                        @MaterializeInc/cluster
/src/s3-datagen                     @MaterializeInc/cluster
/src/secrets                        @MaterializeInc/cloud
/src/segment
/src/service                        @MaterializeInc/cluster
/src/sql                            @MaterializeInc/adapter
/src/sql/src/session/vars.rs
# HirRelationExpr is the boundary between the `sql` crate and the cluster
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/explain           @MaterializeInc/cluster
/src/sql/src/plan/expr.rs           @MaterializeInc/adapter @MaterializeInc/cluster
# The lowering of HirRelationExpr to MirRelationExpr is part of the cluster
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering          @MaterializeInc/cluster
/src/sql/src/plan/lowering.rs       @MaterializeInc/cluster
/src/sql-lexer                      @MaterializeInc/adapter
/src/sql-parser                     @MaterializeInc/adapter
/src/sqllogictest                   @MaterializeInc/adapter
/src/ssh-util                       @MaterializeInc/cluster
/src/storage                        @MaterializeInc/cluster
/src/storage-client                 @MaterializeInc/cluster
/src/storage-controller             @MaterializeInc/cluster
/src/storage-operators              @MaterializeInc/cluster
/src/storage-types                  @MaterializeInc/cluster
/src/test-macro                     @MaterializeInc/testing
/src/testdrive                      @MaterializeInc/testing
/src/timely-util                    @MaterializeInc/cluster
/src/transform                      @MaterializeInc/cluster
/src/txn-wal                        @aljoscha
/src/walkabout                      @MaterializeInc/adapter
/src/workspace-hack                 @MaterializeInc/testing
/test
/MODULE.bazel                       @parkmycar
/WORKSPACE                          @parkmycar
