Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @benesch, @mjibson, @MaterializeInc/qa, @MaterializeInc/docs, @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/devex, @MaterializeInc/surfaces, @umanwizard, @MaterializeInc/cloud, @MaterializeInc/persist, @aalexandrov

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @benesch
/.config                            @benesch
/.devcontainer                      @mjibson
/.github                            @benesch
/bin
/ci                                 @MaterializeInc/qa
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/compute
/doc/developer/reference/storage    @MaterializeInc/storage
/misc/dbt-materialize               @MaterializeInc/devex
/src/adapter                        @MaterializeInc/surfaces
/src/alloc                          @benesch
/src/audit-log                      @MaterializeInc/surfaces
/src/avro                           @umanwizard
/src/avro-derive                    @umanwizard
/src/build-id                       @umanwizard
/src/build-info                     @benesch
/src/ccsr                           @benesch
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/compute @MaterializeInc/storage
/src/cluster-client                 @MaterializeInc/compute @MaterializeInc/storage
/src/clusterd                       @MaterializeInc/compute @MaterializeInc/storage
/src/compute                        @MaterializeInc/compute
/src/compute-client                 @MaterializeInc/compute
/src/controller                     @MaterializeInc/compute @MaterializeInc/storage
/src/environmentd                   @MaterializeInc/surfaces
/src/expr                           @MaterializeInc/compute
/src/expr-test-util                 @MaterializeInc/compute
/src/frontegg-auth                  @MaterializeInc/surfaces
/src/http-util                      @MaterializeInc/surfaces
/src/interchange                    @MaterializeInc/storage
/src/kafka-util                     @MaterializeInc/storage
/src/kinesis-util                   @MaterializeInc/storage
/src/lowertest                      @MaterializeInc/compute
/src/lowertest-derive               @MaterializeInc/compute
/src/metabase                       @benesch
/src/mz                             @MaterializeInc/surfaces @MaterializeInc/devex
/src/npm                            @benesch
/src/orchestrator                   @benesch
/src/orchestrator-kubernetes        @benesch
/src/orchestrator-process           @benesch
/src/orchestrator-tracing           @benesch
/src/ore                            @benesch
/src/persist                        @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/surfaces
/src/pgrepr                         @MaterializeInc/surfaces
/src/pgtest                         @MaterializeInc/surfaces
/src/pgwire                         @MaterializeInc/surfaces
/src/pid-file                       @benesch
/src/postgres-util                  @MaterializeInc/storage
/src/prof                           @umanwizard
/src/proto                          @aalexandrov
/src/repr                           @MaterializeInc/storage @MaterializeInc/compute
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/compute
/src/rocksdb                        @MaterializeInc/storage
/src/s3-datagen                     @MaterializeInc/storage
/src/secrets                        @MaterializeInc/cloud
/src/segment                        @benesch
/src/service                        @MaterializeInc/storage @MaterializeInc/compute
/src/sql                            @MaterializeInc/surfaces
# HirRelationExpr is the boundary between the `sql` crate and the compute
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/expr.rs           @MaterializeInc/surfaces @MaterializeInc/compute
# The lowering of HirRelationExpr to MirRelationExpr is part of the compute
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering.rs       @MaterializeInc/compute
/src/sql-lexer                      @MaterializeInc/surfaces
/src/sql-parser                     @MaterializeInc/surfaces
/src/sqllogictest                   @MaterializeInc/surfaces
/src/ssh-util                       @MaterializeInc/storage
/src/stash                          @MaterializeInc/surfaces
/src/stash-debug                    @MaterializeInc/surfaces
/src/storage                        @MaterializeInc/storage
/src/storage-client                 @MaterializeInc/storage
/src/test-macro                     @MaterializeInc/qa
/src/testdrive                      @MaterializeInc/qa
/src/timely-util                    @MaterializeInc/compute
/src/transform                      @MaterializeInc/compute
/src/walkabout                      @benesch
/src/workspace-hack                 @benesch
/test

doc/user: correct capitalization of "Fivetran"
  doc/user/content/integrations/_index.md
Owners: @MaterializeInc/docs

doc/user: upgrade tableau support level to alpha
  doc/user/content/integrations/_index.md
Owners: @MaterializeInc/docs

doc/user: remove Mode from analytics page
  doc/user/content/integrations/_index.md
Owners: @MaterializeInc/docs

adapter: add builtin views required by PopSQL
  src/adapter/src/catalog/builtin.rs
Owners: @MaterializeInc/surfaces

Doc: add Tableau guide
  doc/user/content/serve-results/tableau.md
Owners: @MaterializeInc/docs

LICENSE: update change date
  LICENSE
Owners: none

expr: genericize min/max agg functions
  src/expr/src/relation/func.rs
  src/repr/src/scalar.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage

Add /serve-results/bi-tools navigation
  doc/user/config.toml
Owners: @MaterializeInc/docs

Add instructions for macOS, Linux and Windows
  doc/user/content/integrations/_index.md
  doc/user/content/serve-results/metabase.md
  doc/user/content/serve-results/tableau.md
Owners: @MaterializeInc/docs

adapter: add `pg_class.relhassubclass`
  src/adapter/src/catalog/builtin.rs
Owners: @MaterializeInc/surfaces

sql: add support for `name` PostgreSQL type
  src/adapter/src/catalog.rs
  src/adapter/src/catalog/builtin.rs
  src/expr/src/scalar.proto
  src/expr/src/scalar/func.rs
  src/expr/src/scalar/func/impls/string.rs
  src/interchange/src/avro/encode.rs
  src/interchange/src/json.rs
  src/pgrepr-consts/src/oid.rs
  src/pgrepr/src/types.rs
  src/pgrepr/src/value.rs
  src/repr/src/adt.rs
  src/repr/src/adt/pg_legacy_name.rs
  src/repr/src/relation_and_scalar.proto
  src/repr/src/row/encoding.rs
  src/repr/src/scalar.rs
  src/repr/src/strconv.rs
  src/sql/src/catalog.rs
  src/sql/src/func.rs
  src/sql/src/plan/query.rs
  src/sql/src/plan/typeconv.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/persist

LICENSE: update change date
  LICENSE
Owners: none

sql: improve and document SHOW SUBSOURCES
  doc/user/content/sql/show-indexes.md
  doc/user/content/sql/show-subsources.md
  doc/user/layouts/partials/sql-grammar/show-indexes.svg
  doc/user/layouts/partials/sql-grammar/show-subsources.svg
  doc/user/sql-grammar/sql-grammar.bnf
  src/sql-parser/src/ast/defs/statement.rs
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/show
  src/sql/src/plan/statement/show.rs
  test/testdrive/show-subsources.td
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

Nits
  doc/user/content/integrations/_index.md
  doc/user/content/serve-results/metabase.md
  doc/user/content/serve-results/tableau.md
Owners: @MaterializeInc/docs

doc/user: add Tableau guide (#20030)
  doc/user/config.toml
  doc/user/content/integrations/_index.md
  doc/user/content/serve-results/metabase.md
  doc/user/content/serve-results/tableau.md
Owners: @MaterializeInc/docs

cloudtests: fix test_upgrade
  misc/python/materialize/cli/ci_logged_errors_detect.py
  misc/python/materialize/cloudtest/k8s/environmentd.py
Owners: none

use startup log filter for initial librdkafka filter
  src/clusterd/src/bin/clusterd.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/storage-client/src/types/connections.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces

fix + expand tracing test. along the way, fix config spam / replace enable flag with sensible defaults
  misc/python/materialize/mzcompose/services.py
  src/adapter/src/coord/ddl.rs
  src/clusterd/src/bin/clusterd.rs
  src/environmentd/tests/util.rs
  src/orchestrator-tracing/src/lib.rs
  src/ore/src/tracing.rs
  src/sql/src/session/vars.rs
  test/tracing/mzcompose.py
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute, @MaterializeInc/storage, @benesch

thread through to storage and cluster clients
  Cargo.lock
  Cargo.toml
  src/adapter/Cargo.toml
  src/adapter/src/catalog.rs
  src/adapter/src/coord/ddl.rs
  src/cluster/src/server.rs
  src/cluster/src/types.rs
  src/clusterd/src/bin/clusterd.rs
  src/compute-client/Cargo.toml
  src/compute-client/src/protocol/command.proto
  src/compute-client/src/protocol/command.rs
  src/compute/src/compute_state.rs
  src/compute/src/server.rs
  src/orchestrator-tracing/Cargo.toml
  src/orchestrator-tracing/src/lib.rs
  src/ore/src/tracing.rs
  src/sql/Cargo.toml
  src/sql/src/session/vars.rs
  src/storage-client/Cargo.toml
  src/storage-client/build.rs
  src/storage-client/src/types/parameters.proto
  src/storage-client/src/types/parameters.rs
  src/storage/src/server.rs
  src/storage/src/storage_state.rs
  src/tracing/Cargo.toml
  src/tracing/build.rs
  src/tracing/src/lib.rs
  src/tracing/src/params.proto
  src/tracing/src/params.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute, @MaterializeInc/storage, @benesch

update --log-filter to translate into a system param default value for the var
  src/adapter/src/coord.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/orchestrator-tracing/src/lib.rs
  src/sql/src/session/vars.rs
Owners: @MaterializeInc/surfaces, @benesch

update compute/storage if tracing is updated
  src/adapter/src/coord/ddl.rs
Owners: @MaterializeInc/surfaces

replace some old references
  doc/developer/tracing.md
  src/testdrive/src/bin/testdrive.rs
Owners: @MaterializeInc/qa

fix
  src/ore/src/tracing.rs
  src/tracing/src/params.rs
Owners: @benesch

fix remaining test
  src/environmentd/tests/sql.rs
  src/environmentd/tests/util.rs
Owners: @MaterializeInc/surfaces

warn on http endpoints
  src/clusterd/src/bin/clusterd.rs
  src/environmentd/src/http.rs
  src/environmentd/src/lib.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces

fix merge conflict
  src/compute/src/compute_state.rs
Owners: @MaterializeInc/compute

rebase + wire up dynamic librdkafka log level
  src/environmentd/src/bin/environmentd/main.rs
  src/environmentd/src/http.rs
  src/environmentd/src/lib.rs
  src/storage-client/src/types/connections.rs
  src/storage/src/storage_state.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage

fix up WIPs and rebase onto main
  src/environmentd/src/bin/environmentd/main.rs
  src/sql/src/session/vars.rs
  src/storage-client/src/types/parameters.proto
  src/tracing/src/lib.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage

?
  Cargo.lock
Owners: none

remove mz prefix from system variables
  doc/developer/tracing.md
  misc/python/materialize/cloudtest/k8s/environmentd.py
  src/clusterd/src/bin/clusterd.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/environmentd/src/http.rs
  src/environmentd/tests/sql.rs
  src/orchestrator-tracing/src/lib.rs
  src/sql/src/session/vars.rs
  src/tracing/Cargo.toml
  test/cloudtest/select
  test/tracing/mzcompose.py
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @benesch

rebase
  src/clusterd/src/bin/clusterd.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage

removing WIPs minus arbitrary impl
  src/adapter/src/catalog.rs
  src/clusterd/src/bin/clusterd.rs
  src/orchestrator-tracing/src/lib.rs
  src/sql/src/session/vars.rs
  src/storage-client/src/types/parameters.proto
  src/storage-client/src/types/parameters.rs
  src/tracing/src/lib.rs
  src/tracing/src/params.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/compute, @MaterializeInc/storage, @benesch

newline
  src/ore/src/tracing.rs
Owners: @benesch

start pulling librdkafka bit out
  src/clusterd/src/bin/clusterd.rs
  src/storage-client/src/types/connections.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage

consistency'
  src/cluster/src/server.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage

also mention sys param default in docs
  doc/developer/tracing.md
Owners: none

checkpointing log filter via sql
  src/adapter/src/catalog.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/ddl.rs
  src/orchestrator-tracing/src/lib.rs
  src/ore/src/tracing.rs
  src/sql/Cargo.toml
  src/sql/src/session/vars.rs
Owners: @MaterializeInc/surfaces, @benesch

other rough edges
  src/adapter/src/catalog.rs
  src/storage/tests/setup.rs
Owners: @MaterializeInc/surfaces, @MaterializeInc/storage

deprecate log/otel filters, replace with startup values
  src/clusterd/src/bin/clusterd.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/orchestrator-tracing/src/lib.rs
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @benesch

cleanup
  misc/python/materialize/cloudtest/k8s/environmentd.py
  src/sql/src/session/vars.rs
Owners: @MaterializeInc/surfaces
