Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaterializeInc/testing, @parkmycar, @MaterializeInc/docs, @MaterializeInc/cluster, @morsapaes, @MaterializeInc/integrations, @MaterializeInc/cloud, @MaterializeInc/adapter, @teskje, @MaterializeInc/persist, @aljoscha

self-hosted: GCP Terraform module v0.2.0 bump (#31961)
  test/terraform/gcp-temporary/main.tf
Owners: none

try using an opaque newtype wrapper on names
  src/compute-types/src/plan/threshold.rs
  src/compute/src/render/context.rs
  src/expr-parser/src/parser.rs
  src/expr-test-util/src/lib.rs
  src/expr/src/explain/text.rs
  src/expr/src/interpret.rs
  src/expr/src/lib.rs
  src/expr/src/linear.rs
  src/expr/src/relation.rs
  src/expr/src/scalar.rs
  src/expr/src/scalar/func.rs
  src/expr/src/scalar/func/impls/string.rs
  src/sql/src/plan/lowering.rs
  src/sql/src/plan/lowering/variadic_left.rs
  src/sql/src/plan/statement/ddl.rs
  src/transform/src/analysis.rs
  src/transform/src/analysis/equivalences.rs
  src/transform/src/dataflow.rs
  src/transform/src/equivalence_propagation.rs
  src/transform/src/fusion/join.rs
  src/transform/src/fusion/reduce.rs
  src/transform/src/join_implementation.rs
  src/transform/src/predicate_pushdown.rs
  src/transform/src/reduction_pushdown.rs
  src/transform/src/redundant_join.rs
  src/transform/src/semijoin_idempotence.rs
Owners: @MaterializeInc/cluster, @MaterializeInc/adapter

docs: AWS terraform v0.3.1 enable disk support
  doc/user/content/installation/install-on-aws/_index.md
  doc/user/content/installation/install-on-aws/upgrade-on-aws.md
  doc/user/content/installation/operational-guidelines.md
  doc/user/content/release-notes/_index.md
  doc/user/layouts/shortcodes/self-managed/aws-recommended-instances.html
  doc/user/layouts/shortcodes/self-managed/aws-terraform-upgrade-notes.html
  doc/user/layouts/shortcodes/self-managed/versions/step-clone-aws-terraform-repo.html
Owners: @MaterializeInc/docs

wip
  src/persist-client/src/internal/apply.rs
  src/persist-client/src/internal/machine.rs
  src/persist-client/src/rpc.rs
  src/storage-controller/src/collection_mgmt.rs
Owners: @MaterializeInc/persist, @MaterializeInc/cluster

Better logging
  src/adapter/src/coord/timestamp_selection.rs
Owners: @MaterializeInc/adapter

Move transaction creation to per retry rather than per query
  src/self-managed-debug/src/system_catalog_dumper.rs
Owners: none

Benchbase WIP
  test/benchbase/README.md
  test/benchbase/benchbase/Dockerfile
  test/benchbase/benchbase/mzbuild.yml
  test/benchbase/benchbase/tpcc_sf_10.xml
  test/benchbase/mzcompose
  test/benchbase/mzcompose.py
Owners: none

make MirScalarExpr's column names opaque
  src/expr/src/explain/text.rs
  src/expr/src/scalar.rs
  test/sqllogictest/autogenerated/all_parts_essential.slt
  test/sqllogictest/chbench.slt
  test/sqllogictest/cte_lowering.slt
  test/sqllogictest/explain/optimized_plan_as_json.slt
  test/sqllogictest/explain/optimized_plan_as_text.slt
  test/sqllogictest/explain/physical_plan_as_json.slt
  test/sqllogictest/explain/physical_plan_as_text.slt
  test/sqllogictest/explain/raw_plan_as_json.slt
  test/sqllogictest/explain/raw_plan_as_text.slt
  test/sqllogictest/github-16036.slt
  test/sqllogictest/joins.slt
  test/sqllogictest/privilege_checks.slt
  test/sqllogictest/system-cluster.slt
  test/sqllogictest/table_func.slt
  test/sqllogictest/tpch_create_index.slt
  test/sqllogictest/tpch_create_materialized_view.slt
  test/sqllogictest/tpch_select.slt
  test/sqllogictest/transform/filter_index.slt
  test/sqllogictest/transform/join_fusion.slt
  test/sqllogictest/transform/join_index.slt
  test/sqllogictest/transform/literal_constraints.slt
  test/sqllogictest/transform/predicate_pushdown.slt
  test/sqllogictest/transform/relation_cse.slt
  test/sqllogictest/window_funcs.slt
Owners: @MaterializeInc/cluster

docs: Azure terraform v0.2.0 network_config is required
  doc/user/content/installation/install-on-azure/_index.md
  doc/user/content/installation/install-on-azure/appendix-azure-provider-configuration.md
  doc/user/content/installation/install-on-azure/upgrade-on-azure.md
  doc/user/layouts/shortcodes/self-managed/azure-terraform-configs.html
  doc/user/layouts/shortcodes/self-managed/azure-terraform-upgrade-notes.html
  doc/user/layouts/shortcodes/self-managed/versions/step-clone-azure-terraform-repo.html
Owners: @MaterializeInc/docs

Fix minimization
  src/adapter/src/coord/timestamp_selection.rs
Owners: @MaterializeInc/adapter

s/Opaque/Incomparable/, move to ore, rewrite all tests
  src/expr/src/explain/text.rs
  src/expr/src/interpret.rs
  src/expr/src/lib.rs
  src/expr/src/linear.rs
  src/expr/src/relation.rs
  src/expr/src/scalar.rs
  src/expr/src/scalar/func/impls/string.rs
  src/lowertest/src/lib.rs
  src/ore/src/incomparable.rs
  src/ore/src/lib.rs
  src/sql/src/plan/lowering.rs
  src/transform/src/analysis.rs
  test/sqllogictest/attributes/mir_arity.slt
  test/sqllogictest/attributes/mir_unique_keys.slt
  test/sqllogictest/autogenerated/all_parts_essential.slt
  test/sqllogictest/chbench.slt
  test/sqllogictest/cte_lowering.slt
  test/sqllogictest/explain/optimized_plan_as_json.slt
  test/sqllogictest/explain/optimized_plan_as_text.slt
  test/sqllogictest/explain/physical_plan_as_json.slt
  test/sqllogictest/explain/physical_plan_as_text.slt
  test/sqllogictest/explain/raw_plan_as_text.slt
  test/sqllogictest/github-16036.slt
  test/sqllogictest/joins.slt
  test/sqllogictest/system-cluster.slt
  test/sqllogictest/table_func.slt
  test/sqllogictest/tpch_create_index.slt
  test/sqllogictest/tpch_create_materialized_view.slt
  test/sqllogictest/tpch_select.slt
  test/sqllogictest/transform/dataflow.slt
  test/sqllogictest/transform/filter_index.slt
  test/sqllogictest/transform/join_fusion.slt
  test/sqllogictest/transform/join_index.slt
  test/sqllogictest/transform/literal_constraints.slt
  test/sqllogictest/transform/predicate_pushdown.slt
  test/sqllogictest/transform/relation_cse.slt
  test/sqllogictest/window_funcs.slt
Owners: @MaterializeInc/cluster

Revert "Revert "Attempt to fetch existing topics' configuration in ensure_topic""
  Cargo.lock
  src/kafka-util/Cargo.toml
  src/kafka-util/src/admin.rs
Owners: @MaterializeInc/cluster

Use the non-panicky mz_ore string formatters
  src/kafka-util/Cargo.toml
  src/kafka-util/src/admin.rs
Owners: @MaterializeInc/cluster

Add a test for the progress topic reconfig behaviour
  test/testdrive/kafka-sink-topic-config.td
Owners: none

Add a configurable option to alter the topic config
  src/kafka-util/src/admin.rs
  src/storage-client/src/sink.rs
  src/storage-types/src/dyncfgs.rs
  src/storage/src/sink/kafka.rs
  src/testdrive/src/action/kafka/create_topic.rs
  test/test-util/src/kafka/kafka_client.rs
Owners: @MaterializeInc/cluster, @MaterializeInc/testing

Fix strong session serializable timestamp selection logic in the constraint solver and logging
  src/adapter/src/coord/timestamp_selection.rs
  src/adapter/src/session.rs
Owners: @MaterializeInc/adapter

make halt! use an exit code of 3
  src/ore/src/process.rs
Owners: none

switch to using Incomparable at the HIR level, too
  src/ore/src/incomparable.rs
  src/sql/src/func.rs
  src/sql/src/plan/explain/text.rs
  src/sql/src/plan/hir.rs
  src/sql/src/plan/lowering.rs
  src/sql/src/plan/query.rs
  src/sql/src/plan/transform_hir.rs
  src/sql/src/plan/typeconv.rs
  src/sql/src/pure/postgres.rs
  test/sqllogictest/table_func.slt
  test/sqllogictest/tpch_create_materialized_view.slt
  test/sqllogictest/tpch_select.slt
  test/sqllogictest/window_funcs.slt
Owners: @MaterializeInc/adapter, @MaterializeInc/cluster

Print error stack rather than most recent context
  src/self-managed-debug/src/system_catalog_dumper.rs
Owners: none

[sinks] Attempt to fetch (and optionally alter) topic config (#31929)
  Cargo.lock
  src/kafka-util/Cargo.toml
  src/kafka-util/src/admin.rs
  src/storage-client/src/sink.rs
  src/storage-types/src/dyncfgs.rs
  src/storage/src/sink/kafka.rs
  src/testdrive/src/action/kafka/create_topic.rs
  test/test-util/src/kafka/kafka_client.rs
  test/testdrive/kafka-sink-topic-config.td
Owners: @MaterializeInc/cluster, @MaterializeInc/testing

Support copying retained metric objects via subscribe
  src/self-managed-debug/src/system_catalog_dumper.rs
Owners: none

Shift all pubsub configs over to dyncfg
  src/persist-client/src/cfg.rs
  src/persist-client/src/rpc.rs
Owners: @MaterializeInc/persist

LICENSE: update change date
  LICENSE
Owners: none

release: bump to version v0.138.0
  Cargo.lock
  LICENSE
  misc/helm-charts/operator/Chart.yaml
  misc/helm-charts/operator/README.md
  misc/helm-charts/operator/tests/deployment_test.yaml
  misc/helm-charts/operator/values.yaml
  misc/helm-charts/testing/materialize.yaml
  src/balancerd/BUILD.bazel
  src/balancerd/Cargo.toml
  src/catalog-debug/BUILD.bazel
  src/catalog-debug/Cargo.toml
  src/clusterd/BUILD.bazel
  src/clusterd/Cargo.toml
  src/environmentd/BUILD.bazel
  src/environmentd/Cargo.toml
  src/materialized/BUILD.bazel
  src/materialized/Cargo.toml
  src/orchestratord/BUILD.bazel
  src/orchestratord/Cargo.toml
  src/persist-client/BUILD.bazel
  src/persist-client/Cargo.toml
  src/self-managed-debug/BUILD.bazel
  src/self-managed-debug/Cargo.toml
  src/testdrive/BUILD.bazel
  src/testdrive/Cargo.toml
Owners: @MaterializeInc/adapter, @MaterializeInc/cluster, @MaterializeInc/persist, @MaterializeInc/testing

release: bump to version v0.139.0-dev.0
  Cargo.lock
  misc/helm-charts/operator/Chart.yaml
  misc/helm-charts/operator/README.md
  misc/helm-charts/operator/tests/deployment_test.yaml
  misc/helm-charts/operator/values.yaml
  misc/helm-charts/testing/materialize.yaml
  src/balancerd/BUILD.bazel
  src/balancerd/Cargo.toml
  src/catalog-debug/BUILD.bazel
  src/catalog-debug/Cargo.toml
  src/clusterd/BUILD.bazel
  src/clusterd/Cargo.toml
  src/environmentd/BUILD.bazel
  src/environmentd/Cargo.toml
  src/materialized/BUILD.bazel
  src/materialized/Cargo.toml
  src/orchestratord/BUILD.bazel
  src/orchestratord/Cargo.toml
  src/persist-client/BUILD.bazel
  src/persist-client/Cargo.toml
  src/self-managed-debug/BUILD.bazel
  src/self-managed-debug/Cargo.toml
  src/testdrive/BUILD.bazel
  src/testdrive/Cargo.toml
Owners: @MaterializeInc/adapter, @MaterializeInc/cluster, @MaterializeInc/persist, @MaterializeInc/testing

release: create doc file for v0.139
  doc/user/content/releases/v0.139.md
Owners: @MaterializeInc/docs

Extract `Let`s from `LetRec` (#30974)
  src/repr/src/optimize.rs
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/plan/statement/dml.rs
  src/sql/src/session/vars/definitions.rs
  src/transform/src/normalize_lets.rs
  src/transform/tests/test_transforms.rs
  src/transform/tests/test_transforms/normalize_lets.spec
  src/transform/tests/test_transforms/relation_cse.spec
  test/sqllogictest/advent-of-code/2023/aoc_1203.slt
  test/sqllogictest/advent-of-code/2023/aoc_1204.slt
  test/sqllogictest/advent-of-code/2023/aoc_1205.slt
  test/sqllogictest/advent-of-code/2023/aoc_1210.slt
  test/sqllogictest/advent-of-code/2023/aoc_1212.slt
  test/sqllogictest/advent-of-code/2023/aoc_1214.slt
  test/sqllogictest/advent-of-code/2023/aoc_1215.slt
  test/sqllogictest/advent-of-code/2023/aoc_1216.slt
  test/sqllogictest/advent-of-code/2023/aoc_1217.slt
  test/sqllogictest/advent-of-code/2023/aoc_1218.slt
  test/sqllogictest/advent-of-code/2023/aoc_1219.slt
  test/sqllogictest/advent-of-code/2023/aoc_1220.slt
  test/sqllogictest/advent-of-code/2023/aoc_1222.slt
  test/sqllogictest/advent-of-code/2023/aoc_1223.slt
  test/sqllogictest/advent-of-code/2023/aoc_1225.slt
  test/sqllogictest/distinct_arrangements.slt
  test/sqllogictest/freshmart.slt
  test/sqllogictest/ldbc_bi.slt
  test/sqllogictest/ldbc_bi_eager.slt
  test/sqllogictest/outer_join_simplification.slt
  test/sqllogictest/transform/literal_lifting.slt
  test/sqllogictest/transform/normalize_lets.slt
  test/sqllogictest/transform/projection_lifting.slt
  test/sqllogictest/transform/redundant_join.slt
  test/sqllogictest/transform/relation_cse.slt
Owners: @MaterializeInc/cluster, @MaterializeInc/adapter

Converting container builder
  src/compute/src/logging/reachability.rs
  src/compute/src/logging/timely.rs
  src/timely-util/src/containers.rs
Owners: @MaterializeInc/cluster

Less restrictive flat_map_fallible
  src/timely-util/src/operator.rs
Owners: @MaterializeInc/cluster

optimizer: Make EQProp call MSE::reduce only after a change in reduce_expr
  src/transform/src/equivalence_propagation.rs
Owners: @MaterializeInc/cluster

optimizer: add enable_less_reduce_in_eqprop feature flag
  src/repr/src/optimize.rs
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/plan/statement/dml.rs
  src/sql/src/session/vars/definitions.rs
  src/transform/src/equivalence_propagation.rs
Owners: @MaterializeInc/cluster, @MaterializeInc/adapter

Implement EnterTime and Negate for Column
  Cargo.lock
  Cargo.toml
  src/timely-util/src/containers.rs
Owners: @MaterializeInc/cluster

Remove Join logic, because of semijoin elision
  src/transform/src/will_distinct.rs
Owners: @MaterializeInc/cluster

Generalize WillDistinct to polarities
  src/transform/src/will_distinct.rs
Owners: @MaterializeInc/cluster

Update tests
  test/sqllogictest/advent-of-code/2023/aoc_1203.slt
  test/sqllogictest/advent-of-code/2023/aoc_1223.slt
  test/sqllogictest/ldbc_bi.slt
  test/sqllogictest/ldbc_bi_eager.slt
  test/sqllogictest/outer_join_simplification.slt
Owners: none

Update tests
  test/testdrive/top-1-monotonic.td
Owners: none

start, add debug line
  src/catalog-debug/src/main.rs
Owners: @MaterializeInc/adapter

add shard_id in one more spot
  src/catalog-debug/src/main.rs
Owners: @MaterializeInc/adapter

catalog-debug: add debug line to print Persist schemas (#31981)
  src/catalog-debug/src/main.rs
Owners: @MaterializeInc/adapter

cluster: make create_sockets work without an external epoch
  Cargo.lock
  src/cluster/Cargo.toml
  src/cluster/src/client.rs
  src/cluster/src/communication.rs
Owners: @MaterializeInc/cluster

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @MaterializeInc/testing @parkmycar
/.config                            @MaterializeInc/testing
/.github                            @MaterializeInc/testing
/bin
/bin/lint-versions                  @MaterializeInc/testing
/ci                                 @MaterializeInc/testing
/ci/test/lint-deps.toml
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/cluster
/doc/developer/reference/storage    @MaterializeInc/cluster
/misc/bazel                         @parkmycar
/misc/dbt-materialize               @morsapaes @MaterializeInc/integrations
/misc/python/materialize/benches    @MaterializeInc/testing
/misc/python/materialize/buildkite_insights @MaterializeInc/testing
/misc/python/materialize/checks     @MaterializeInc/testing
/misc/python/materialize/ci_util    @MaterializeInc/testing
/misc/python/materialize/cli/ci_annotate_errors.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_closed_issues_detect.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_coverage_pr_report.py @MaterializeInc/testing
/misc/python/materialize/cli/ci_upload_heap_profiles.py @MaterializeInc/testing
/misc/python/materialize/cloudtest  @MaterializeInc/cloud @MaterializeInc/testing
/misc/python/materialize/data_ingest @MaterializeInc/testing
/misc/python/materialize/parallel_workload @MaterializeInc/testing
/misc/python/materialize/postgres_consistency @MaterializeInc/testing
/misc/python/materialize/scalability @MaterializeInc/testing
/misc/python/materialize/sqlsmith.py @MaterializeInc/testing
/misc/python/materialize/version_consistency @MaterializeInc/testing
/misc/python/materialize/zippy      @MaterializeInc/testing
/src/adapter                        @MaterializeInc/adapter
/src/adapter-types                  @MaterializeInc/adapter
/src/adapter/src/explain            @MaterializeInc/cluster
/src/adapter/src/optimize           @MaterializeInc/cluster
# to track changes to feature flags
/src/adapter/src/coord/ddl.rs       @MaterializeInc/testing
# to track changes to introspection subscribes
/src/adapter/src/coord/introspection.rs @MaterializeInc/cluster
# to track changes to feature flags
/src/adapter/src/flags.rs           @MaterializeInc/testing
/src/alloc
/src/audit-log                      @MaterializeInc/adapter
/src/avro                           @MaterializeInc/cluster
/src/avro-derive                    @MaterializeInc/cluster
/src/build-id                       @teskje
/src/build-info                     @MaterializeInc/testing @parkmycar
/src/catalog                        @MaterializeInc/adapter
/src/catalog-debug                  @MaterializeInc/adapter
/src/ccsr                           @MaterializeInc/adapter @MaterializeInc/cluster
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/cluster
/src/cluster-client                 @MaterializeInc/cluster
/src/clusterd                       @MaterializeInc/cluster
/src/compute                        @MaterializeInc/cluster
/src/compute-client                 @MaterializeInc/cluster
/src/compute-types                  @MaterializeInc/cluster
/src/controller                     @MaterializeInc/cluster
/src/controller-types               @MaterializeInc/cluster
/src/durable-cache                  @MaterializeInc/adapter
/src/dyncfg
/src/dyncfgs
/src/environmentd                   @MaterializeInc/adapter
/src/expr                           @MaterializeInc/cluster
/src/expr-parser                    @MaterializeInc/cluster
/src/expr-test-util                 @MaterializeInc/cluster
/src/fivetran-destination           @MaterializeInc/adapter
/src/frontegg-auth                  @MaterializeInc/adapter
/src/http-util                      @MaterializeInc/adapter
/src/interchange                    @MaterializeInc/cluster
/src/kafka-util                     @MaterializeInc/cluster
/src/lowertest                      @MaterializeInc/cluster
/src/lowertest-derive               @MaterializeInc/cluster
/src/metabase
/src/mysql-util                     @MaterializeInc/cluster
/src/mz                             @MaterializeInc/integrations
/src/npm
/src/orchestrator                   @MaterializeInc/cloud
/src/orchestrator-kubernetes        @MaterializeInc/cloud
/src/orchestrator-process           @MaterializeInc/cloud
/src/orchestrator-tracing           @MaterializeInc/cloud
/src/ore
/src/persist                        @MaterializeInc/persist
/src/persist-cli                    @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/adapter
/src/pgrepr                         @MaterializeInc/adapter
/src/pgtest                         @MaterializeInc/adapter
/src/pgwire                         @MaterializeInc/adapter
/src/postgres-util                  @MaterializeInc/cluster
/src/prof                           @teskje
/src/repr                           @MaterializeInc/cluster
# The `explain` and `optimize` modules are owned solely by the cluster team.
/src/repr/src/explain               @MaterializeInc/cluster
/src/repr/src/optimize              @MaterializeInc/cluster
# The row representation is owned by the persist team.
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/cluster
/src/rocksdb                        @MaterializeInc/cluster
/src/s3-datagen                     @MaterializeInc/cluster
/src/secrets                        @MaterializeInc/cloud
/src/segment
/src/service                        @MaterializeInc/cluster
/src/sql                            @MaterializeInc/adapter
/src/sql/src/session/vars.rs
# HirRelationExpr is the boundary between the `sql` crate and the cluster
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/explain           @MaterializeInc/cluster
/src/sql/src/plan/expr.rs           @MaterializeInc/adapter @MaterializeInc/cluster
# The lowering of HirRelationExpr to MirRelationExpr is part of the cluster
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering          @MaterializeInc/cluster
/src/sql/src/plan/lowering.rs       @MaterializeInc/cluster
/src/sql-lexer                      @MaterializeInc/adapter
/src/sql-parser                     @MaterializeInc/adapter
/src/sqllogictest                   @MaterializeInc/adapter
/src/ssh-util                       @MaterializeInc/cluster
/src/storage                        @MaterializeInc/cluster
/src/storage-client                 @MaterializeInc/cluster
/src/storage-controller             @MaterializeInc/cluster
/src/storage-operators              @MaterializeInc/cluster
/src/storage-types                  @MaterializeInc/cluster
/src/test-macro                     @MaterializeInc/testing
/src/testdrive                      @MaterializeInc/testing
/src/timely-util                    @MaterializeInc/cluster
/src/transform                      @MaterializeInc/cluster
/src/txn-wal                        @aljoscha
/src/walkabout                      @MaterializeInc/adapter
/src/workspace-hack                 @MaterializeInc/testing
/test
/MODULE.bazel                       @parkmycar
/WORKSPACE                          @parkmycar
