Repository MaterializeInc/materialize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @benesch, @mjibson, @MaterializeInc/qa, @MaterializeInc/docs, @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/devex, @MaterializeInc/surfaces, @umanwizard, @MaterializeInc/cloud, @MaterializeInc/persist, @aalexandrov

.github/CODEOWNERS:

# Describes which individuals/teams are reponsible for which code in the
# repository.
#
# NOTE: ownership by an individual is a smell, as is ownership by multiple
# teams. We have a soft goal of arranging our code so that each entry names
# a single team as owner. Better not to hide the truth, though; we'd rather
# be honest about where we still have individuals as owners.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.cargo                             @benesch
/.config                            @benesch
/.devcontainer                      @mjibson
/.github                            @benesch
/bin
/ci                                 @MaterializeInc/qa
/doc/user                           @MaterializeInc/docs
/doc/developer/reference/compute    @MaterializeInc/compute
/doc/developer/reference/storage    @MaterializeInc/storage
/misc/dbt-materialize               @MaterializeInc/devex
/src/adapter                        @MaterializeInc/surfaces
/src/alloc                          @benesch
/src/audit-log                      @MaterializeInc/surfaces
/src/avro                           @umanwizard
/src/avro-derive                    @umanwizard
/src/build-id                       @umanwizard
/src/build-info                     @benesch
/src/ccsr                           @benesch
/src/cloud-resources                @MaterializeInc/cloud
/src/cluster                        @MaterializeInc/compute @MaterializeInc/storage
/src/cluster-client                 @MaterializeInc/compute @MaterializeInc/storage
/src/clusterd                       @MaterializeInc/compute @MaterializeInc/storage
/src/compute                        @MaterializeInc/compute
/src/compute-client                 @MaterializeInc/compute
/src/controller                     @MaterializeInc/compute @MaterializeInc/storage
/src/environmentd                   @MaterializeInc/surfaces
/src/expr                           @MaterializeInc/compute
/src/expr-test-util                 @MaterializeInc/compute
/src/frontegg-auth                  @MaterializeInc/surfaces
/src/http-util                      @MaterializeInc/surfaces
/src/interchange                    @MaterializeInc/storage
/src/kafka-util                     @MaterializeInc/storage
/src/kinesis-util                   @MaterializeInc/storage
/src/lowertest                      @MaterializeInc/compute
/src/lowertest-derive               @MaterializeInc/compute
/src/metabase                       @benesch
/src/mz                             @MaterializeInc/surfaces @MaterializeInc/devex
/src/npm                            @benesch
/src/orchestrator                   @benesch
/src/orchestrator-kubernetes        @benesch
/src/orchestrator-process           @benesch
/src/orchestrator-tracing           @benesch
/src/ore                            @benesch
/src/persist                        @MaterializeInc/persist
/src/persist-client                 @MaterializeInc/persist
/src/persist-types                  @MaterializeInc/persist
/src/pgcopy                         @MaterializeInc/surfaces
/src/pgrepr                         @MaterializeInc/surfaces
/src/pgtest                         @MaterializeInc/surfaces
/src/pgwire                         @MaterializeInc/surfaces
/src/pid-file                       @benesch
/src/postgres-util                  @MaterializeInc/storage
/src/prof                           @umanwizard
/src/proto                          @aalexandrov
/src/repr                           @MaterializeInc/storage @MaterializeInc/compute
/src/repr/src/row                   @MaterializeInc/persist
/src/repr-test-util                 @MaterializeInc/compute
/src/rocksdb                        @MaterializeInc/storage
/src/s3-datagen                     @MaterializeInc/storage
/src/secrets                        @MaterializeInc/cloud
/src/segment                        @benesch
/src/service                        @MaterializeInc/storage @MaterializeInc/compute
/src/sql                            @MaterializeInc/surfaces
# HirRelationExpr is the boundary between the `sql` crate and the compute
# layer, and is jointly owned by the two teams.
/src/sql/src/plan/expr.rs           @MaterializeInc/surfaces @MaterializeInc/compute
# The lowering of HirRelationExpr to MirRelationExpr is part of the compute
# layer, despite being located in the `sql` crate.
/src/sql/src/plan/lowering.rs       @MaterializeInc/compute
/src/sql-lexer                      @MaterializeInc/surfaces
/src/sql-parser                     @MaterializeInc/surfaces
/src/sqllogictest                   @MaterializeInc/surfaces
/src/ssh-util                       @MaterializeInc/storage
/src/stash                          @MaterializeInc/surfaces
/src/stash-debug                    @MaterializeInc/surfaces
/src/storage                        @MaterializeInc/storage
/src/storage-client                 @MaterializeInc/storage
/src/test-macro                     @MaterializeInc/qa
/src/testdrive                      @MaterializeInc/qa
/src/timely-util                    @MaterializeInc/compute
/src/transform                      @MaterializeInc/compute
/src/walkabout                      @benesch
/src/workspace-hack                 @benesch
/test

doc/user: replace stale links to console
  doc/user/layouts/partials/header.html
Owners: @MaterializeInc/docs

doc/user: improve Kafka source and sink docs
  ci/deploy_website/website.sh
  doc/user/content/releases/v0.27.md
  doc/user/content/sql/create-sink/_index.md
  doc/user/content/sql/create-sink/kafka.md
  doc/user/content/sql/create-source/kafka.md
  doc/user/content/sql/system-catalog/mz_catalog.md
  doc/user/layouts/partials/sql-grammar/create-sink-kafka.svg
  doc/user/sql-grammar/sql-grammar.bnf
  src/pgwire/src/message.rs
  src/sql/src/plan/error.rs
  src/sql/src/plan/notice.rs
  src/sql/src/plan/statement/ddl.rs
  test/testdrive/kafka-avro-upsert-sinks.td
Owners: @MaterializeInc/qa, @MaterializeInc/docs, @MaterializeInc/surfaces

doc/user: replace stale links to console (#20403)
  doc/user/layouts/partials/header.html
Owners: @MaterializeInc/docs

draft complete
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

k8s-orchestrator: set fsGroup for clusterd pods
  src/environmentd/src/bin/environmentd/main.rs
  src/orchestrator-kubernetes/src/lib.rs
Owners: @MaterializeInc/surfaces, @benesch

minor fiddling
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

Rename the mfp_pushdown explain option
  src/expr/src/explain/mod.rs
  src/repr/src/explain/mod.rs
  src/sql/src/plan/statement/dml.rs
  src/sql/src/session/vars.rs
  test/sqllogictest/filter-pushdown.slt
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces

Document filter pushdown
  doc/user/content/sql/explain.md
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

Document filter pushdown
  doc/user/content/sql/explain.md
  doc/user/content/transform-data/patterns/temporal-filters.md
Owners: @MaterializeInc/docs

Rename the mfp_pushdown explain option
  src/expr/src/explain/mod.rs
  src/repr/src/explain/mod.rs
  src/sql/src/plan/statement/dml.rs
  src/sql/src/session/vars.rs
  test/sqllogictest/filter-pushdown.slt
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces

storage: ensure auctions integrity
  src/storage/src/source/generator/auction.rs
Owners: @MaterializeInc/storage

sql: remove enable_format_json feature flag
  misc/python/materialize/checks/json_source.py
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/session/vars.rs
  test/sql-feature-flags/mzcompose.py
  test/testdrive/kafka-json-sinks.td
  test/testdrive/kafka-sink-errors.td
  test/testdrive/kafka-sink-statistics.td
  test/testdrive/kafka-upsert-sources.td
  test/testdrive/linked-clusters.td
  test/testdrive/load-generator.td
  test/testdrive/source-format-json.td
  test/testdrive/statistics-deletion.td
  test/testdrive/storage-clusters.td
Owners: @MaterializeInc/surfaces

Update doc/user/content/transform-data/patterns/rules-engine.md
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

Update doc/user/content/transform-data/patterns/rules-engine.md
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

Update doc/user/content/transform-data/patterns/rules-engine.md
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

minor revisions
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

Add pattern for rules execution (#20378)
  doc/user/content/transform-data/patterns/rules-engine.md
Owners: @MaterializeInc/docs

Document coordinator interface.
  doc/developer/reference/adapter/coord_interface.md
Owners: none

appease useless lint
  doc/developer/reference/adapter/coord_interface.md
Owners: none

release: bump to version v0.60.0
  Cargo.lock
  LICENSE
  src/clusterd/Cargo.toml
  src/environmentd/Cargo.toml
  src/persist-client/Cargo.toml
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @MaterializeInc/persist

release: bump to version v0.61.0-dev
  Cargo.lock
  src/clusterd/Cargo.toml
  src/environmentd/Cargo.toml
  src/persist-client/Cargo.toml
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @MaterializeInc/persist

fix(environmentd): improve faulty node handling
  src/orchestrator-kubernetes/src/lib.rs
  src/orchestrator/src/lib.rs
Owners: @benesch

Clarify outer vs. inner objects
  doc/developer/reference/adapter/coord_interface.md
Owners: none

adapter: Validate deferred plan before sequencing
  src/adapter/src/coord/appends.rs
  src/adapter/src/coord/message_handler.rs
  src/adapter/src/coord/sequencer/inner.rs
Owners: @MaterializeInc/surfaces

release: bump to version v0.61.0-dev
  Cargo.lock
  src/clusterd/Cargo.toml
  src/environmentd/Cargo.toml
  src/persist-client/Cargo.toml
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @MaterializeInc/persist

fix aarch64 build
  ci/test/pipeline.template.yml
Owners: @MaterializeInc/qa

use visit_scalars/visit_children
  src/adapter/src/coord/introspection.rs
  src/environmentd/tests/sql.rs
Owners: @MaterializeInc/surfaces

fix aarch64 build
  ci/test/pipeline.template.yml
Owners: @MaterializeInc/qa

release: bump to version v0.60.1
  Cargo.lock
  LICENSE
  src/clusterd/Cargo.toml
  src/environmentd/Cargo.toml
  src/persist-client/Cargo.toml
Owners: @MaterializeInc/compute, @MaterializeInc/storage, @MaterializeInc/surfaces, @MaterializeInc/persist

fix aarch64 build
  ci/test/pipeline.template.yml
Owners: @MaterializeInc/qa

environmentd: add errors codes to http/ws endpoints
  src/adapter/src/error.rs
  src/adapter/src/notice.rs
  src/environmentd/src/http/sql.rs
  src/environmentd/tests/testdata/http/post
  src/environmentd/tests/testdata/http/ws
  src/pgwire/src/message.rs
Owners: @MaterializeInc/surfaces

LICENSE: update change date
  LICENSE
Owners: none

[pg_catalog] add pg_catalog.pg_event_trigger
  doc/user/content/sql/system-catalog/pg_catalog.md
  src/adapter/src/catalog/builtin.rs
  test/sqllogictest/information_schema_tables.slt
  test/testdrive/pg-catalog.td
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

[pg_catalog] add pg_catalog.pg_language
  doc/user/content/sql/system-catalog/pg_catalog.md
  src/adapter/src/catalog/builtin.rs
  test/sqllogictest/information_schema_tables.slt
  test/testdrive/pg-catalog.td
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

[pg_catalog] add pg_catalog.pg_shdescription
  doc/user/content/sql/system-catalog/pg_catalog.md
  src/adapter/src/catalog/builtin.rs
  test/sqllogictest/information_schema_tables.slt
  test/testdrive/pg-catalog.td
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

[pg_catalog] add pg_catalog.pg_depend
  doc/user/content/sql/system-catalog/pg_catalog.md
  src/adapter/src/catalog/builtin.rs
  test/sqllogictest/information_schema_tables.slt
  test/testdrive/pg-catalog.td
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

[pg_catalog] add pg_get_ruledef(oid[, bool])
  doc/user/data/sql_funcs.yml
  src/sql/src/func.rs
  test/sqllogictest/funcs.slt
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

[pg_catalog] add pg_relation_size and pg_stat_get_numscans
  doc/user/data/sql_funcs.yml
  src/sql/src/func.rs
  src/sql/src/plan/typeconv.rs
  test/sqllogictest/funcs.slt
Owners: @MaterializeInc/docs, @MaterializeInc/surfaces

cloud-canary: Add scratch directory
  test/cloud-canary/mzcompose.py
Owners: none

doc/user: take another pass at sink envelope documentation
  ci/deploy_website/website.sh
  doc/user/content/sql/create-sink/kafka.md
Owners: @MaterializeInc/qa, @MaterializeInc/docs
