Repository MaterializeInc/materialize, pull requests merged in 2020-04, with the labels that each got.

#2564 CLI docs reorg
  doc/user/cli/_index.md
  doc/user/get-started.md
  doc/user/install.md
  doc/user/known-limitations.md
  doc/user/overview/configuration.md
  doc/user/release-notes.md
  doc/user/sql/create-source/kinesis-source.md
  doc/user/sql/create-source/text-source.md
  doc/user/versions.md
  www/config.toml
Labels: A-docs

#2680 Add non-dropping finish to RowPacker
  src/repr/row.rs
Labels: A-dataflow, C-feature

#2567 docs: avro files + create source filename restructure
  doc/user/release-notes.md
  doc/user/sql/create-source/_index.md
  doc/user/sql/create-source/avro-file.md
  doc/user/sql/create-source/avro-kafka.md
  doc/user/sql/create-source/csv-file.md
  doc/user/sql/create-source/json-kinesis.md
  doc/user/sql/create-source/protobuf-kafka.md
  doc/user/sql/create-source/text-file.md
  www/layouts/partials/sql-grammar/bnf/create-source-avro-file.bnf
  www/layouts/partials/sql-grammar/rr-diagrams/create-source-avro-file.html
Labels: A-docs

#2798 Consolidate sink updates
  src/dataflow/render/mod.rs
  test/testdrive/consolidation.td
Labels: A-dataflow

#2797 Implement `as_of` for sources
  src/dataflow/render/mod.rs
Labels: A-dataflow

#2822 Pivot frontier structures to antichains
  Cargo.lock
  src/coord/coord.rs
  src/dataflow-types/types.rs
  src/dataflow/arrangement/manager.rs
  src/dataflow/render/mod.rs
  src/dataflow/server.rs
Labels: A-coordinator, A-dataflow
