Repository MaterializeInc/materialize, pull requests merged in 2022-12, with the labels that each got.

#16395 adapter: add `launchdarkly-server-sdk` dependency
  Cargo.lock
  deny.toml
  src/adapter/Cargo.toml
  src/adapter/src/config/mod.rs
  src/adapter/src/lib.rs
  src/billing-demo/Cargo.toml
  src/compute-client/Cargo.toml
  src/controller/Cargo.toml
  src/environmentd/Cargo.toml
  src/expr/Cargo.toml
  src/kafka-util/Cargo.toml
  src/sql/Cargo.toml
  src/sqllogictest/Cargo.toml
  test/test-util/Cargo.toml
Labels: A-ADAPTER

#16433 interchange: don't crash on invalid Avro field/record names
  src/avro/Cargo.toml
  src/avro/src/schema.rs
  src/interchange/src/avro.rs
  src/interchange/src/avro/encode.rs
  src/interchange/src/avro/envelope_cdc_v2.rs
  src/interchange/src/json.rs
  src/sql/src/plan/statement/ddl.rs
  src/storage/src/sink/kafka.rs
  test/testdrive/kafka-avro-sinks.td
Labels: release-blocker

#16393 storage: log information about pg wal peeks and keepalives
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/source/postgres.rs
Labels: release-blocker

#16089 config: synchronize `ALTER SYSTEM` parameters with LaunchDarkly
  src/adapter/src/catalog.rs
  src/adapter/src/catalog/config.rs
  src/adapter/src/command.rs
  src/adapter/src/config/backend.rs
  src/adapter/src/config/frontend.rs
  src/adapter/src/config/mod.rs
  src/adapter/src/config/params.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/session/vars.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/environmentd/src/http/sql.rs
  src/environmentd/src/lib.rs
  src/environmentd/tests/util.rs
  src/pgwire/src/protocol.rs
  src/sqllogictest/src/runner.rs
  src/stash-debug/src/main.rs
  test/testdrive/session.td
Labels: C-feature, A-ADAPTER

#16536 adapter: add end-to-end test for LaunchDarkly synchronization
  bin/ci-builder
  ci/builder/requirements.txt
  ci/cleanup/launchdarkly.py
  ci/cleanup/pipeline.yml
  ci/nightly/pipeline.yml
  src/adapter/src/config/frontend.rs
  src/adapter/src/config/mod.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/environmentd/src/lib.rs
  src/environmentd/tests/util.rs
  src/sqllogictest/src/runner.rs
  src/testdrive/src/action/sql.rs
  test/launchdarkly/mzcompose
  test/launchdarkly/mzcompose.py
Labels: T-testing, A-ADAPTER

#16590 environmentd: improve telemetry reporting
  Cargo.lock
  misc/python/materialize/cloudtest/k8s/environmentd.py
  misc/python/materialize/mzcompose/services.py
  src/adapter/src/catalog.rs
  src/adapter/src/catalog/config.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/dataflows.rs
  src/adapter/src/coord/ddl.rs
  src/adapter/src/lib.rs
  src/adapter/src/telemetry.rs
  src/environmentd/src/bin/environmentd/main.rs
  src/environmentd/src/lib.rs
  src/environmentd/src/telemetry.rs
  src/environmentd/tests/util.rs
  src/sql/src/catalog.rs
  src/sql/src/plan/statement/ddl.rs
  src/sql/src/query_model/test/catalog.rs
  src/sqllogictest/src/runner.rs
  src/stash-debug/Cargo.toml
  src/stash-debug/src/main.rs
  test/testdrive/system-functions.td
Labels: release-blocker

#16548 `FilterCharacteristics` behind Gets
  src/transform/src/join_implementation.rs
  src/transform/src/lib.rs
  src/transform/src/normalize_lets.rs
  test/sqllogictest/transform/join_index.slt
Labels: T-testing, A-optimization, A-COMPUTE

#16678 adapter: change the LaunchDarkly context key, upgrade to 1.0.0
  Cargo.lock
  deny.toml
  misc/python/materialize/mzcompose/services.py
  src/adapter/Cargo.toml
  src/adapter/src/config/frontend.rs
  src/adapter/src/config/mod.rs
  src/adapter/src/telemetry.rs
  src/compute-client/src/plan/mod.rs
  src/environmentd/src/lib.rs
  src/environmentd/src/telemetry.rs
  src/sql/src/catalog.rs
  test/launchdarkly/mzcompose.py
Labels: A-ADAPTER

#16751 adapter: fix regression introduced by 9d2acaaf4
  src/adapter/src/catalog.rs
Labels: A-ADAPTER

#16809 test: fix `~_protobuf_roundtrip` stack overflows in `cargo test`
  Cargo.lock
  bin/check
  clippy.toml
  src/compute-client/Cargo.toml
  src/compute-client/src/command.rs
  src/compute-client/src/plan/join/mod.rs
  src/compute-client/src/plan/mod.rs
  src/compute-client/src/response.rs
  src/compute-client/src/types/dataflows.rs
  src/compute-client/src/types/sinks.rs
  src/expr/Cargo.toml
  src/expr/src/relation/func.rs
  src/expr/src/scalar/func.rs
  src/persist-client/Cargo.toml
  src/repr/Cargo.toml
  src/repr/src/scalar.rs
  src/storage-client/Cargo.toml
  src/storage-client/src/client.rs
Labels: T-testing
