Repository MaterializeInc/materialize, pull requests merged in 2022-09, with the labels that each got.

#14574 Minor cleanup in the literal constraints detection
  src/transform/src/canonicalize_mfp.rs
  test/sqllogictest/literal_constraints.slt
  test/testdrive/subexpression-replacement.td
Labels: A-optimization, A-COMPUTE

#14535 adapter: add join support to `EXPLAIN AS TEXT` for LIR plans
  src/adapter/src/explain_new/hir/mod.rs
  src/adapter/src/explain_new/hir/text.rs
  src/adapter/src/explain_new/lir/mod.rs
  src/adapter/src/explain_new/lir/text.rs
  src/adapter/src/explain_new/mir/mod.rs
  src/adapter/src/explain_new/mir/text.rs
  src/compute-client/src/plan/join/mod.rs
  test/sqllogictest/explain/physical_plan_as_text.slt
Labels: C-feature, A-optimization, A-COMPUTE

#14669 Make `remove_literal_constraints` support OR in the residual
  src/transform/src/canonicalize_mfp.rs
  test/sqllogictest/literal_constraints.slt
Labels: A-optimization, A-COMPUTE

#14608 *: make mz_repr::Timestamp opaque
  Cargo.lock
  src/adapter/src/catalog/storage.rs
  src/adapter/src/coord.rs
  src/adapter/src/coord/appends.rs
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/coord/timestamp_selection.rs
  src/adapter/src/tail.rs
  src/adapter/src/util.rs
  src/compute-client/src/command.rs
  src/compute-client/src/plan/mod.rs
  src/compute-client/src/response.rs
  src/compute/src/compute_state.rs
  src/compute/src/logging/compute.rs
  src/compute/src/logging/differential.rs
  src/compute/src/logging/mod.rs
  src/compute/src/logging/reachability.rs
  src/compute/src/logging/timely.rs
  src/compute/src/render/context.rs
  src/compute/src/render/top_k.rs
  src/compute/src/sink/persist_sink.rs
  src/repr/Cargo.toml
  src/repr/src/antichain.rs
  src/repr/src/lib.rs
  src/storage/src/controller.rs
  src/storage/src/protocol/client.rs
  src/storage/src/render/persist_sink.rs
  src/storage/src/render/sources.rs
  src/storage/src/source/healthcheck.rs
  src/storage/src/source/reclock.rs
  src/storage/src/source/source_reader_pipeline.rs
  src/storage/src/source/types.rs
Labels: T-proto

#14709 [sinks] Move ComputeSink structs out of storage
  src/adapter/src/coord/dataflows.rs
  src/adapter/src/coord/sequencer.rs
  src/compute-client/build.rs
  src/compute-client/src/command.proto
  src/compute-client/src/command.rs
  src/compute-client/src/controller.rs
  src/compute-client/src/lib.rs
  src/compute-client/src/sinks.proto
  src/compute-client/src/sinks.rs
  src/compute/src/render/sinks.rs
  src/compute/src/sink/persist_sink.rs
  src/compute/src/sink/tail.rs
  src/storage/src/types/sinks.proto
  src/storage/src/types/sinks.rs
Labels: A-sink, A-STORAGE, A-COMPUTE

#14750 sql: back Date by i32
  Cargo.lock
  doc/user/content/sql/types/date.md
  src/avro/src/decode.rs
  src/avro/src/encode.rs
  src/avro/src/error.rs
  src/avro/src/types.rs
  src/avro/tests/io.rs
  src/avro/tests/schema.rs
  src/expr/src/relation/func.rs
  src/expr/src/scalar.proto
  src/expr/src/scalar/func.rs
  src/expr/src/scalar/func/impls/date.rs
  src/expr/src/scalar/func/impls/string.rs
  src/expr/src/scalar/func/impls/timestamp.rs
  src/expr/src/scalar/mod.rs
  src/interchange/benches/avro.rs
  src/interchange/src/avro.rs
  src/interchange/src/avro/decode.rs
  src/interchange/src/avro/encode.rs
  src/interchange/src/json.rs
  src/kafka-util/src/bin/kgen.rs
  src/pgrepr/src/value.rs
  src/repr/Cargo.toml
  src/repr/benches/row.rs
  src/repr/build.rs
  src/repr/src/adt.rs
  src/repr/src/adt/date.proto
  src/repr/src/adt/date.rs
  src/repr/src/explain_new.rs
  src/repr/src/row.proto
  src/repr/src/row.rs
  src/repr/src/row/encoding.rs
  src/repr/src/scalar.rs
  src/repr/src/strconv.rs
  src/repr/tests/strconv.rs
  src/sqllogictest/src/runner.rs
  src/testdrive/src/format/avro.rs
  test/sqllogictest/autogenerated/all_parts_essential.slt
  test/sqllogictest/dates-times.slt
  test/sqllogictest/github-9027.slt
Labels: T-proto

#14827 storage: make MzOffset 0-indexed
  src/sql/src/plan/statement/ddl.rs
  src/storage/src/source/kafka.rs
  src/storage/src/types/sources.proto
  src/storage/src/types/sources.rs
  test/kafka-resumption/verify-success.td
  test/persistence/kafka-sources/upsert-modification-after.td
  test/persistence/kafka-sources/upsert-modification-before.td
  test/testdrive/bytes.td
  test/testdrive/github-12005.td
  test/testdrive/kafka-avro-sources.td
  test/testdrive/kafka-time-offset.td
  test/testdrive/kafka-upsert-debezium-sources.td
  test/testdrive/kafka-upsert-sources.td
  test/testdrive/regex-sources.td
  test/testdrive/sinks.td
Labels: M-platform-blocker

#14379 Initialize Timely lazily in computed
  Cargo.lock
  misc/python/materialize/checks/actions.py
  misc/python/materialize/mzcompose/services.py
  src/adapter/src/catalog.rs
  src/adapter/src/coord/sequencer.rs
  src/compute-client/src/command.proto
  src/compute-client/src/command.rs
  src/compute-client/src/controller.rs
  src/compute-client/src/controller/orchestrator.rs
  src/compute-client/src/controller/replicated.rs
  src/compute-client/src/service.rs
  src/compute/Cargo.toml
  src/compute/ci/entrypoint.sh
  src/compute/src/bin/computed.rs
  src/compute/src/communication.rs
  src/compute/src/compute_state.rs
  src/compute/src/server.rs
  src/sql-parser/src/ast/defs/statement.rs
  src/sql-parser/src/keywords.txt
  src/sql-parser/src/parser.rs
  src/sql-parser/tests/testdata/ddl
  src/sql/src/plan.rs
  src/sql/src/plan/statement/ddl.rs
  test/cluster-isolation/mzcompose.py
  test/cluster/mzcompose.py
  test/feature-benchmark/mzcompose.py
  test/limits/mzcompose.py
  test/replica-isolation/mzcompose.py
  test/sqllogictest/cluster.slt
Labels: T-proto

#14900 [sinks] Fastforward asof in storage controller and rehydration
  src/storage/src/controller.rs
  src/storage/src/controller/rehydration.rs
  src/storage/src/types/sinks.rs
Labels: A-sink, A-STORAGE

#14926 [kafka sink] Don't emit updates until input frontier passes AS OF
  src/storage/src/sink/kafka.rs
Labels: A-sink, A-STORAGE

#14725 Join-Dependent Predicate Duplication
  src/expr/src/relation/join_input_mapper.rs
  src/transform/src/predicate_pushdown.rs
  test/sqllogictest/autogenerated/all_parts_essential.slt
  test/sqllogictest/chbench.slt
  test/sqllogictest/tpch.slt
  test/sqllogictest/transform/predicate_pushdown.slt
Labels: A-optimization, A-COMPUTE

#15001 doc/user: document `DROP` and `SHOW` commands for clusters and cluster replicas
  doc/user/content/sql/drop-cluster-replica.md
  doc/user/content/sql/drop-cluster.md
  doc/user/content/sql/show-cluster-replicas.md
  doc/user/content/sql/show-clusters.md
  doc/user/layouts/partials/sql-grammar/drop-cluster-replica.svg
  doc/user/layouts/partials/sql-grammar/drop-cluster.svg
  doc/user/layouts/partials/sql-grammar/show-cluster-replicas.svg
  doc/user/layouts/partials/sql-grammar/show-clusters.svg
  doc/user/sql-grammar/sql-grammar.bnf
Labels: A-docs

#14913 adapter: implement `EXPLAIN OPTIMIZER TRACE`
  Cargo.lock
  misc/python/materialize/cli/optbench.py
  src/adapter/Cargo.toml
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/explain_new/mod.rs
  src/adapter/src/explain_new/optimizer_trace.rs
  src/adapter/src/explain_new/qgm/dot.rs
  src/compute-client/Cargo.toml
  src/compute-client/src/plan/mod.rs
  src/ore/src/tracing/mod.rs
  src/repr/Cargo.toml
  src/repr/src/explain_new/mod.rs
  src/repr/src/explain_new/tracing.rs
  src/sql-parser/src/ast/defs/statement.rs
  src/sql/Cargo.toml
  src/sql/src/plan/lowering.rs
  src/sql/src/plan/optimize.rs
  src/sql/src/plan/statement/dml.rs
  src/transform/Cargo.toml
  src/transform/src/canonicalize_mfp.rs
  src/transform/src/column_knowledge.rs
  src/transform/src/cse/relation_cse.rs
  src/transform/src/dataflow.rs
  src/transform/src/demand.rs
  src/transform/src/fusion/filter.rs
  src/transform/src/fusion/flatmap_to_map.rs
  src/transform/src/fusion/join.rs
  src/transform/src/fusion/map.rs
  src/transform/src/fusion/negate.rs
  src/transform/src/fusion/project.rs
  src/transform/src/fusion/reduce.rs
  src/transform/src/fusion/top_k.rs
  src/transform/src/fusion/union.rs
  src/transform/src/inline_let.rs
  src/transform/src/join_implementation.rs
  src/transform/src/lib.rs
  src/transform/src/map_lifting.rs
  src/transform/src/nonnull_requirements.rs
  src/transform/src/nonnullable.rs
  src/transform/src/predicate_pushdown.rs
  src/transform/src/projection_extraction.rs
  src/transform/src/projection_lifting.rs
  src/transform/src/projection_pushdown.rs
  src/transform/src/reduce_elision.rs
  src/transform/src/reduction.rs
  src/transform/src/reduction_pushdown.rs
  src/transform/src/redundant_join.rs
  src/transform/src/threshold_elision.rs
  src/transform/src/topk_elision.rs
  src/transform/src/union_cancel.rs
  src/transform/src/update_let.rs
  test/sqllogictest/attributes/mir_arity.slt
  test/sqllogictest/attributes/mir_column_types.slt
  test/sqllogictest/attributes/mir_unique_keys.slt
  test/sqllogictest/explain/optimized_plan_as_text.slt
  test/sqllogictest/explain/physical_plan_as_text.slt
  test/sqllogictest/transform/predicate_pushdown.slt
Labels: C-feature, A-optimization, A-COMPUTE

#15053 [sinks] Rename some lingering consistency refernces to progress
  src/adapter/src/sink_connection.rs
  src/storage/src/sink/kafka.rs
  src/storage/src/types/sinks.proto
  src/storage/src/types/sinks.rs
Labels: T-proto

#13127 doc/user: Index optimization
  doc/user/content/ops/optimization.md
  doc/user/content/sql/create-index.md
Labels: A-docs

#14975 `inline_literal_constraints` should also kick in for complex expressions
  src/transform/src/canonicalize_mfp.rs
  test/sqllogictest/literal_constraints.slt
Labels: A-optimization, A-COMPUTE
