Repository MaterializeInc/materialize, pull requests merged in 2025-09, with the labels that each got.

#33531 adapter: Don't panic when COPY FROM's target table is dropped
  src/adapter/src/client.rs
  src/adapter/src/command.rs
  src/adapter/src/coord/sequencer.rs
  src/adapter/src/coord/sequencer/inner/copy_from.rs
  src/pgwire/src/protocol.rs
  src/sql/src/plan.rs
  src/sql/src/plan/error.rs
  src/sql/src/plan/query.rs
  src/sql/src/plan/statement.rs
  src/sql/src/plan/statement/dml.rs
  src/sql/src/rbac.rs
Labels: A-ADAPTER

#33533 `prep_relation_expr` earlier in peek sequencing
  src/adapter/src/optimize/copy_to.rs
  src/adapter/src/optimize/peek.rs
  test/sqllogictest/filter-pushdown.slt
  test/sqllogictest/mztimestamp.slt
  test/sqllogictest/persist-fast-path.slt
  test/sqllogictest/temporal.slt
Labels: A-optimization, A-ADAPTER

#33602 Fix case where role modification can wipe out role password
  src/adapter/src/catalog/transact.rs
  src/adapter/src/coord/command_handler.rs
  src/adapter/src/coord/sequencer/inner.rs
  src/adapter/src/coord/validity.rs
  src/catalog/src/builtin.rs
  src/catalog/src/durable/initialize.rs
  src/catalog/src/durable/transaction.rs
  src/catalog/tests/open.rs
  src/catalog/tests/read-write.rs
  src/sql/src/catalog.rs
  src/sql/src/plan.rs
  src/sqllogictest/src/ast.rs
  src/sqllogictest/src/parser.rs
  src/sqllogictest/src/runner.rs
  test/sqllogictest/role.slt
Labels: self-managed-backport-v25.2

#33658 Fix COPY command in materialized-base Dockerfile
  misc/images/materialized-base/Dockerfile
Labels: T-testing

#33651 Early exit from `StorageCollections::acquire_read_holds` and `collections_frontiers`
  src/storage-client/src/storage_collections.rs
Labels: A-CLUSTER

#33647 Move `AS OF` / `UP TO` evaluation from sequencing to planning
  doc/user/content/sql/execute.md
  doc/user/content/sql/subscribe.md
  src/adapter/src/coord/sequencer/inner/subscribe.rs
  src/adapter/src/coord/timestamp_selection.rs
  src/adapter/src/optimize/dataflows.rs
  src/adapter/tests/timestamp_selection.rs
  src/sql/src/plan.rs
  src/sql/src/plan/error.rs
  src/sql/src/plan/hir.rs
  src/sql/src/plan/query.rs
  src/sql/src/plan/statement/dml.rs
  test/sqllogictest/as_of.slt
  test/sqllogictest/subscribe_error.slt
  test/testdrive/fetch-tail-as-of.td
Labels: A-ADAPTER
